---
---

// :fonts

@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700|Oswald:500');
$text-heading: Oswald, Impact, sans-serif;
$text-main: "Lora", Georgia, serif;
$text-aux: Arial, Verdana, Geneva, sans-serif;

// :colors & deocration

$color-background-main: #38383c;
$color-text-main: #e7e7f4;
$color-text-menu: mix($color-text-main, $color-background-main, 75);
$color-link-main: #fff;
$color-background-heading: #1b1b1f;
$color-background-footer: #191919;

// :layout

$space-gutter: 4vw;

// :general


* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

body {
	background: $color-background-main;
	color: $color-text-main;
	font-family: $text-main;
	font-size: 20px;
	
	&.page {
		background-image: linear-gradient(180deg, mix($color-background-main, black, 35) 0px, $color-background-main 300px, $color-background-main);
	}
}

body#home {
	display: grid;
	grid-template: 
	"nav"
	"masthead"
	"hero"
	"intro"
	"events"
	"about"
	"footer";
}

nav {
	grid-area: nav;
	padding: $space-gutter $space-gutter $space-gutter 0;
	display: flex;
	flex-direction: row-reverse;
	
	a.menu-toggle {
		display: inline-block;
		padding: 0.4em 0.8em;
		box-sizing: border-box;
		flex: 0 0 auto;
		
		font-family: $text-aux;
		font-size: 70%;
		border: none;
		color: mix($color-background-main, $color-text-main, 75);
		background: $color-text-main;
		border-radius: 200px;
		text-transform: uppercase;
	}
	
	ul.main {
		display: block;
		position: fixed;
		height: 100vh;
		width: auto;
		right: 0;
		top: 0;
		z-index: 100;
		padding: $space-gutter * 2;
		background: mix(rgba(0, 0, 0, 0.9), $color-background-main, 50);
		font-family: $text-aux;
		border-left: 5px solid $color-background-heading;
		transition: right 0.5s ease-out;
		
		&.closed {
			right: -100vw;
		}
		
		li {
			display: block;
			margin-bottom: 0.5em;
		}
		
		li a {
			border: none;
			color: $color-text-menu;
		}
		
		li.active a {
			color: #fff;
			font-weight: bold;
		}
		
		ul.events, ul.about {
			margin-left: 0.5em;
			margin-top: 0.5em;
			padding-left: 0.5em;
			border-left: 1px solid $color-text-main;
			font-size: 90%;
		}
		
		li.menu-toggle {
			text-align: right;
			margin-top: -$space-gutter;
			
			a {
				display: inline-block;
				text-transform: uppercase;
				background: $color-text-main;
				color: mix($color-background-main, $color-text-main, 75);
				padding: 0.4em 0.8em;
				font-size: 70%;
				border-radius: 200px;
				margin-right: -$space-gutter;
				
			}
		}
	}
}

#masthead {
	grid-area: masthead;
	margin-bottom: $space-gutter;
	width: 90vw;
	
	h1 {
		width: 100%;
		height: 27vw;
		box-sizing: border-box;
		
		a {
			display: block;
			width: 100%;
			height: 100%;
			background: transparent url('../i/logo-flat-white-1600.png') center center no-repeat;
			background-size: contain;
			padding-left: 100%;
			white-space: nowrap;
			overflow: hidden;
			border: none;
			box-sizing: border-box;
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $text-heading;
	text-transform: uppercase;
}

h2 {
	text-align: right;
	padding: $space-gutter / 4 $space-gutter;
	margin-top: $space-gutter;
	background: $color-background-heading;
	border-top: 5px solid mix($color-background-heading, #fff, 75); 
}

h3, h4 {
	margin-left: $space-gutter;
}

h4 {
	padding-right: $space-gutter;
}

p {
	font-size: 70%;
}

a {
	color: $color-link-main;
	text-decoration: none;
	border-bottom: 1px solid $color-link-main;
}

p.about-more {
	display: flex;
	align-items: center;
	justify-content: center;
}

a.about-more {
	display: inline-block;
	position: relative;
	font-family: $text-aux;
	border: none;
	color: mix($color-background-main, $color-text-main, 75);
	background: $color-text-main;
	border-radius: 200px;
	padding: 0.4em 2em 0.4em 0.8em;
	text-transform: uppercase;
	flex: 0 0 auto;
	
	
	&:after {
		content: "";
		display: block;
		position: absolute;
		right: 8px;
		top: 50%;
		margin-top: -7.5px;
		background: transparent url('../i/arrow-dusk-right.png');
		background-size: contain;
		width: 15px;
		height: 15px;
		margin-left: 5px;
	}
}

// :homepage

#hero {
	grid-area: hero;
	margin-bottom: 1em;
	
	#banner {
		width: 100%;
		position: relative;
		
		&:after {
			content: " ";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);
			z-index: 0;
		}
	}
	
	#banner img {
		width: 100%;
		height: auto;
		display: block;
		position: relative;

	}
	
	#banner .blurb {
		position: absolute;
		bottom: 0;
		left: $space-gutter;
		bottom: $space-gutter / 2;
		z-index: 1;
	}
	
	h3, h4 {
		color: #fff;
		margin-left: 0;
	}
}

#intro {
	grid-area: intro;
}

#events {
	grid-area: events;
}

$color-about-grad1: mix(#000, $color-background-main, 50);
$color-about-grad2: rgba(red($color-background-main), green($color-background-main), blue($color-background-main), 1);

#about {
	grid-area: about;
	padding: 0 0 2em 0;
	
	h2 {
		margin-bottom: 0.5em;
		margin-top: 0;
	}
	
	.about-links {
		display: flex;
		justify-content: center;
		padding: 0 $space-gutter;
		margin-top: 1em;
		
		li {
			flex: 0 1 auto;
			list-style: none;
		}
		
		li p {
			padding: 0;
			margin: 0;
		}
		
		li p a {
			margin: 0 1em 0 0;
			padding: 0.4em 0.8em;
			border: none;
			background: $color-text-main;
			color: $color-background-main;
			border-radius: 200px;
			text-transform: uppercase;
			font-size: 80%;
			font-family: $text-aux;
		}
		
		li:last-child p a {
			margin: 0;
		}
	}
}

p, div#masthead {
	padding: 0 $space-gutter;
}

p {
	margin-bottom: 0.75em;
}

.event-list .event {
	
	position: relative;
	
	.blurb {
		position: absolute;
		top: 0;
		left: 0;
		width: 67vw;
	}
	
	.blurb h3 {
		margin: $space-gutter 0 0 $space-gutter;
	}
	
	a {
		border: none;
		display: block;
		position: relative;
		
		&:after {
			content: "";
			display: block;
			position: absolute;
			right: $space-gutter;
			bottom: $space-gutter;
			width: 7vw;
			height: 7vw;
			background: transparent url('../i/arrow-white-right.png');
			background-size: contain;
		}
	}
	
	img {
		display: block;
		position: relative;
		width: 100%;
		height: auto;
	}
	
	.gradient {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	&.seance .gradient {
		background-image: linear-gradient(90deg, black, transparent);
	}
	
	&.daedalus .gradient {
		background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.95) 75%);
	}
	
	&.acog .gradient {
		background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.75), transparent);
	}
	
	&.eskhaton .gradient {
		background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.75), transparent);
	}
	
	
}

#events .event.daedalus {
	
	h3, p {
		color: #000;
	}
	
	.blurb {
		left: auto;
		right: 0;
	}
	
	a:after {
		background-image: url('../i/arrow-black-right.png');
	}
}

#events .event.eskhaton {
	
	.blurb {
		left: auto;
		right: 0;
	}
}

#events .more-events {
	
	padding: 1em 0;
	background: linear-gradient(black, #222);
	
	p {
		margin: 0;
		text-align: center;
	}
	
	a {
		color: white;
		background: rgba(255, 255, 255, 0.2);
		border: 1px solid white;
		display: inline-block;
		border-radius: 50px;
		font-family: $text-aux;
		padding: 8px 16px;
	
		&::after {
			display: inline-block;
			content: "_";
			color: transparent;
			height: 100%;
			width: 1em;
			margin-left: 0.5em;
			background: transparent url('../i/arrow-white-right.png') center center no-repeat;
			background-size: contain;
		}
		
	}
}

// :footer 

footer * {
	font-family: $text-aux;
}

footer {
	background: $color-background-footer;
	//background: linear-gradient(0deg, $color-background-footer, $color-about-grad2);
	padding: $space-gutter 0;
	grid-area: footer;
}

footer p {
	font-size: 60%;
	text-align: center;
}

// :about-larp 

body#about-larp, body#about-studio, body#contact, body#schedule, body#not-found {
	min-height: 100vh;
	display: grid;
	grid-template: 
	"nav"
	"masthead"
	"main"
	"footer";
	
	grid-template-rows: auto auto auto 1fr;
}

section#main {
	grid-area: main;
	
	h2 {
		margin-bottom: 0.5em;
		margin-top: 1em;
		
		&:first-child {
			margin-top: 0;
		}
	}

	blockquote {
		border-left: 1px solid $color-text-main;
		margin-left: $space-gutter;
		padding-left: $space-gutter;
		padding-right: $space-gutter;
		margin-bottom: 1.5em;
		
		p {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

// :about-studio
#about-studio, #contact, #schedule, #seance, #acog, #not-found {
	footer {
		margin-top: 1em;
	}
}

#principals .staff {
	display: grid;
	grid-template:
	"name-title contact"
	"image image"
	"content content";
	
	grid-template-columns: 1fr auto;
	
	.name-title {
		grid-area: name-title;
	}
	
	.contact { 
		grid-area: contact;
		margin-right: $space-gutter;
		
		
		font-size: 60%;
		a {
			border: none;
			display: inline-block;
			font-family: $text-aux;
		}
		
		.email, .twitter {
			position: relative;
			padding-top: 0.25em;
			padding-left: 18px;

		}
		
		.email {
			background: transparent url('../i/email-icon.png') left center no-repeat;
			background-size: 15px 10px;
			background-position: 0px 7px;
		}
		
		.twitter {
			background: transparent url('../i/twitter-icon.png') left center no-repeat;
			background-size: 12px 10px;
			background-position: 0px 7px;
		}
	}
	
	.image {
		grid-area: image;
	}
	
	.content {
		grid-area: content;
	}
}

.staff {
	margin-bottom: 1em;
}

.staff h4 {
	margin-left: $space-gutter;
	margin-bottom: 0.5em;
}

.staff .image {
	margin: 0 $space-gutter 0.5em $space-gutter;
	
	img {
		display: block;
		width: calc(100% - 4px);
		height: auto;
		padding: 1px;
		background: black;
		border: 1px solid white;
		box-sizing: content-box;
	}
}

// :events general
#out-of-game ul, ol {
	margin: 0 $space-gutter 1em $space-gutter;
	font-size: 70%;
	
	li {
		margin-left: 20px;
	}
}

// :lightbox
#lightbox {
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 100vw;
	top: 0;
	background: black;
	background: rgba(0, 0, 0, 0.9);
	z-index: 1000;	
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	#controls, .content, .caption {
		flex: 0 0 auto;
		margin-bottom: 10px;
	}
	
	&.active {
		left: 0;
	}
	
	.content {
		background: transparent;
		max-height: 75%;
	}
	
	#controls {
		display: flex;
		justify-content: center;

		a {
			flex: 0 0 auto;
			position: relative;
			width: 10vw;
			height: 10vw;
			display: block;
			overflow: hidden;
			border: none;
			margin-left: 5vw;
			text-indent: 100%;
			
			&:first-child {
				margin-left: 0;
			}
			
			&:before {
				content: " ";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				
			}
			
			&.close:before {
				background: url('../i/close-white.png') center center no-repeat;
				background-size: contain;
			}
			
			&.next:before {
				background: url('../i/arrow-white-right.png') center center no-repeat;
				background-size: contain;
			}
			
			&.prev:before {
				background: url('../i/arrow-white-left.png') center center no-repeat;
				background-size: contain;
			}
		}
	}
}

// :events schedule
body#schedule {
	
	h2 {
		margin-bottom: 0;
	}
	
	h3 {
		margin-top: 0.5em;
	}
	
	.event {
		margin-bottom: 2em;
	}
	
	.event img {
		width: 100%;
		height: auto;
		display: block;
	}
}

.gallery {
	
	margin: 20px $space-gutter;
	display: flex;
	flex-wrap: wrap;
	
	a, img {
	    user-select: none;
	    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	}
	
	.image {
		flex: 0 0 auto;
		width: 50%;
	}
	
	.image img {
		width: 100%;
		height: auto;
		display: block;
		
	}
}

// :event - eskhaton

body#eskhaton {
	background: $color-background-main url('../i/events/eskhaton/eskhaton_square.jpg') center center no-repeat;
	background-size: cover;
	
	#main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 90vh;
		
		div.banner {
			flex: 0 1 auto;
			padding: $space-gutter;
			background: rgba(0, 0, 0, 0.33);
		}
		
		.banner h2 {
			background: transparent;
			text-align: center;
			color: #fff;
			border: none;
			width: 100%;
			padding: 0;
		}
		
		.banner p {
			margin: 0 auto 1em auto;
			padding: 0;
			width: 75%;
			color: #fff;
		}
		
		.banner .learn-more {
			display: flex;
			justify-content: center;
			
			a {
				flex: 0 0 auto;
				border: 1px solid #fff;
				background: #333;
				color: #fff;
				font-family: $text-aux;
				text-transform: uppercase;
				font-weight: bold;
				padding: 0.25em 1.25em 0.25em 0.5em;
				border-radius: 500px;
				background-image: url('../i/arrow-white-right.png');
				background-size: 0.75em 0.75em;
				background-repeat: no-repeat;
				background-position: right 0.25em center;
				
			}
		}
	}
}

// :event - daedalus
body#daedalus {
	display: grid;
	grid-template: 
	"nav"
	"main"
	"footer";
	grid-template-rows: auto auto 1fr;
	min-height: 100vh;
	
	#main {
		display: flex;
		flex-direction: column;
	}
	
	.banner {
		background: black url('../i/events/daedalus/daedalus-splash.jpg') center center no-repeat;
		background-size: cover;
		padding: 5vw;
		
		h2 {
			text-align: center;
			color: #fff;
			font-size: 180%;
		}
	}
	
	h2, h3, h4 {
		margin: 0;
		padding: 0 0 0 $space-gutter;
		width: auto;
		border: none;
		background: transparent;
	}
	
	h3 {
		margin-top: 1em;
	}
	
	.banner p {		
		width: auto;
		color: #fff;
		padding: 0;
	}
}

// :event - generic styles
body#seance, body#acog {
	
	display: grid;
	grid-template: 
	"in-game-disclaimer nav"
	"main main"
	"footer footer";
	
	grid-template-columns: 1fr auto;
		
	#in-game-disclaimer {
		grid-area: in-game-disclaimer;
		font-family: $text-aux;
		font-size: 90%;
		padding-top: $space-gutter;
		padding-bottom: $space-gutter;
		
		p.skip-link {
			margin-bottom: 0;
		}
	}
	
	#out-of-game-disclaimer {
		font-family: $text-aux;
		font-size: 90%;
	}
	
	nav {
		grid-area: nav;
		width: auto;
		
		display: flex;
		justify-content: center;
		flex-direction: column;
		
		a.menu-toggle {
			display: inline-block;
			flex: 0 0 auto;
		}
	}
	
	#main {
		grid-area: main;
	}
	
	footer {
		grid-area: footer;
	}
}

// :event - seance
body#seance {	
	#in-game {
		background: linear-gradient(#ede6c7, #fff);
		color: #4d382b;
		padding: $space-gutter 0;
		margin-bottom: 1em;
		
		h2 {
			background-color: transparent;
			border: none;
			font-family: $text-main;
			margin: 0;
			text-align: center;
			padding: 145px 0 0 0;
			background-image: url('../i/events/seance/ames_color.png');
			background-position: center 10px;
			background-repeat: no-repeat;
			background-size: 125px 125px;
			text-transform: none;
		}
		
		h3 {
			font-family: $text-main;
			text-transform: none;
			text-align: center;
		}
		
		img {
			float: right;
			width: 45%;
			height: auto;
			box-shadow: 1px 1px 6px black;
			margin-top: 0.25em;
			margin-left: 10px;
			margin-bottom: 10px;
		}
		
		span.author {
			display: block;
			position: relative;
			margin-left: 33%;
			margin-top: 0.5em;
			
			&:before {
				content: "\2014";
				position: absolute;
				left: -1em;
				top: 0;
			}
		}
	}
}

// :event - acog

$color-letter-accent: #ed152e;
$color-letter-text: #472529;
body#acog {
	
	#in-game {
		background: gray url('../i/events/acog/nuke.jpg') center center no-repeat;
		background-size: cover;
		color: $color-letter-text;
		padding: 20px 0 100px 0;
		overflow: hidden;
		margin-bottom: 1em;
		display: flex;
		flex-direction: row-reverse;
		position: relative;
		
		h2, h3, p {
			font-family: "Courier New", "Courier", monospace;
		}
		
		.letter {
			
			flex: 0 0 auto;
			margin: 200px -10px -20px 0;
			width: 220px;
			padding: 20px;
			border: 10px solid $color-letter-accent;
			background: #f4f3ef;
			font-size: 80%;
			transform: rotate(10deg);
			box-shadow: -3px -3px 11px black;
			
			.letter-body {
				transform: rotate(1.5deg);
			}
			
			h2, h3 {
				background: $color-letter-accent;
				color: #fff;
				text-align: center;
				border: none;
				margin: 0;
				padding: 0;
			}
			
			h3 {
				margin-bottom: 1em;
			}
			
			p {
				padding: 0;
			}
			
			strong {
				font-weight: normal;
				border-bottom: 1px solid $color-letter-text;
			}
			
			span {
				color: black;
				background: black;
			}
		}
		
		.badge {
			position: absolute;
			bottom: -5px;
			left: 0;
			width: 33vw;
			height: 52vw;
			background: url('../i/events/acog/badge.png') center center no-repeat;
			background-size: contain;
			transform: rotate(-7deg);
		}
	}
}

@import 'breakpoints.scss';
@import 'desktop.scss';
