---
---

// :fonts

@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700|Oswald:500');
$text-heading: Oswald, Impact, sans-serif;
$text-main: "Lora", Georgia, serif;
$text-aux: Arial, Verdana, Geneva, sans-serif;

// :colors & deocration

$color-background-main: #38383c;
$color-text-main: #e7e7f4;
$color-text-menu: mix($color-text-main, $color-background-main, 75);
$color-link-main: #fff;
$color-background-heading: #1b1b1f;
$color-background-footer: #191919;

// :layout

$space-gutter: 5vw;

// :general


* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

body {
	background: $color-background-main;
	color: $color-text-main;
	font-family: $text-main;
	font-size: 20px;
}

body#home {
	display: grid;
	grid-template: 
	"nav"
	"masthead"
	"hero"
	"intro"
	"events"
	"about"
	"footer";
}

nav {
	grid-area: nav;
	padding: $space-gutter $space-gutter $space-gutter 0;
	display: flex;
	flex-direction: row-reverse;
	
	a.menu-toggle {
		display: inline-block;
		padding: 0.4em 0.8em;
		box-sizing: border-box;
		flex: 0 0 auto;
		
		font-family: $text-aux;
		font-size: 70%;
		border: none;
		color: mix($color-background-main, $color-text-main, 75);
		background: $color-text-main;
		border-radius: 200px;
		text-transform: uppercase;
	}
	
	ul.main {
		display: block;
		position: fixed;
		height: 100vh;
		width: auto;
		right: 0;
		top: 0;
		z-index: 100;
		padding: $space-gutter * 2;
		background: mix(rgba(0, 0, 0, 0.9), $color-background-main, 50);
		font-family: $text-aux;
		border-left: 5px solid $color-background-heading;
		transition: right 0.5s ease-out;
		
		&.closed {
			right: -100vw;
		}
		
		li {
			display: block;
			margin-bottom: 0.5em;
		}
		
		li a {
			border: none;
			color: $color-text-menu;
		}
		
		li.active a {
			color: #fff;
			font-weight: bold;
		}
		
		ul.events, ul.about {
			margin-left: 0.5em;
			padding-left: 0.5em;
			border-left: 1px solid $color-text-main;
			font-size: 90%;
		}
		
		li.menu-toggle {
			text-align: right;
			margin-top: -$space-gutter;
			
			a {
				display: inline-block;
				text-transform: uppercase;
				background: $color-text-main;
				color: mix($color-background-main, $color-text-main, 75);
				padding: 0.4em 0.8em;
				font-size: 70%;
				border-radius: 200px;
				margin-right: -$space-gutter;
				
			}
		}
	}
}

#masthead {
	grid-area: masthead;
	margin-bottom: $space-gutter;
	width: 90vw;
	
	h1 {
		width: 100%;
		height: 27vw;
		background: transparent url('../i/logo-flat-white-1600.png') center center no-repeat;
		background-size: contain;
		padding-left: 100%;
		white-space: nowrap;
		overflow: hidden;
		box-sizing: border-box;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $text-heading;
	text-transform: uppercase;
}

h2 {
	text-align: right;
	padding: $space-gutter / 4 $space-gutter;
	margin-top: $space-gutter;
	background: $color-background-heading;
	border-top: 5px solid mix($color-background-heading, #fff, 75); 
}

h3, h4 {
	margin-left: $space-gutter;
}

p {
	font-size: 70%;
}

a {
	color: $color-link-main;
	text-decoration: none;
	border-bottom: 1px solid $color-link-main;
}

p.about-more {
	display: flex;
	align-items: center;
	justify-content: center;
}

a.about-more {
	display: inline-block;
	position: relative;
	font-family: $text-aux;
	border: none;
	color: mix($color-background-main, $color-text-main, 75);
	background: $color-text-main;
	border-radius: 200px;
	padding: 0.4em 2em 0.4em 0.8em;
	text-transform: uppercase;
	flex: 0 0 auto;
	
	
	&:after {
		content: "";
		display: block;
		position: absolute;
		right: 8px;
		top: 50%;
		margin-top: -7.5px;
		background: transparent url('../i/arrow-dusk-right.png');
		background-size: contain;
		width: 15px;
		height: 15px;
		margin-left: 5px;
	}
}

// :homepage

#hero {
	grid-area: hero;
	margin-bottom: 1em;
	
	#banner {
		width: 100%;
		position: relative;
		
		&:after {
			content: " ";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);
			z-index: 0;
		}
	}
	
	#banner img {
		width: 100%;
		height: auto;
		display: block;
		position: relative;

	}
	
	#banner .blurb {
		position: absolute;
		bottom: 0;
		left: $space-gutter;
		bottom: $space-gutter / 2;
		z-index: 1;
	}
	
	h3, h4 {
		color: #fff;
		margin-left: 0;
	}
}

#intro {
	grid-area: intro;
}

#events {
	grid-area: events;
}

$color-about-grad1: mix(#000, $color-background-main, 50);
$color-about-grad2: rgba(red($color-background-main), green($color-background-main), blue($color-background-main), 1);

#about {
	grid-area: about;
	background: linear-gradient(0deg, $color-background-footer, $color-about-grad2);
	padding: 0 0 2em 0;
	
	h2 {
		margin-bottom: 0.5em;
		margin-top: 0;
	}
	
	.about-links {
		display: flex;
		justify-content: center;
		padding: 0 $space-gutter;
		margin-top: 1em;
		
		li {
			flex: 0 1 auto;
			list-style: none;
		}
		
		li p {
			padding: 0;
			margin: 0;
		}
		
		li p a {
			margin: 0 1em 0 0;
			padding: 0.4em 0.8em;
			border: none;
			background: $color-text-main;
			color: $color-background-main;
			border-radius: 200px;
			text-transform: uppercase;
			font-size: 80%;
			font-family: $text-aux;
		}
		
		li:last-child p a {
			margin: 0;
		}
	}
}

p, div#masthead {
	padding: 0 $space-gutter;
}

p {
	margin-bottom: 0.75em;
}

#events .event {
	
	position: relative;
	
	.blurb {
		position: absolute;
		top: 0;
		left: 0;
		width: 67vw;
	}
	
	.blurb h3 {
		margin: $space-gutter 0 0 $space-gutter;
	}
	
	a {
		border: none;
	}
	
	img {
		display: block;
		width: 100vw;
		height: auto;
	}
	
	&:after {
		content: "";
		display: block;
		position: absolute;
		right: $space-gutter;
		bottom: $space-gutter;
		width: 7vw;
		height: 7vw;
		background: transparent url('../i/arrow-white-right.png');
		background-size: contain;
	}
}

#events .event.daedalus {
	
	h3, p {
		color: #000;
	}
	
	.blurb {
		left: auto;
		right: 0;
	}
	
	&:after {
		background-image: url('../i/arrow-black-right.png');
	}
}


// :footer 

footer * {
	font-family: $text-aux;
}

footer {
	background: $color-background-footer;
	padding: $space-gutter 0;
	grid-area: footer;
}

footer p {
	font-size: 60%;
	text-align: center;
}

// :about-larp 

body#about-larp, body#about-studio, body#contact, body#schedule {
	min-height: 100vh;
	display: grid;
	grid-template: 
	"nav"
	"masthead"
	"main"
	"footer";
	
	grid-template-rows: auto auto auto 1fr;
}

section#main {
	grid-area: main;
	
	h2 {
		margin-bottom: 0.5em;
		margin-top: 1em;
	}

	blockquote {
		border-left: 1px solid $color-text-main;
		margin-left: $space-gutter;
		padding-left: $space-gutter;
		padding-right: $space-gutter;
		margin-bottom: 1.5em;
		
		p {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

// : about-studio
#about-studio, #contact, #schedule {
	footer {
		margin-top: 1em;
	}
}

#principals .staff {
	display: grid;
	grid-template:
	"name-title contact"
	"image image"
	"content content";
	
	grid-template-columns: 1fr auto;
	
	.name-title {
		grid-area: name-title;
	}
	
	.contact { 
		grid-area: contact;
		margin-right: $space-gutter;
		
		
		font-size: 60%;
		a {
			border: none;
			display: inline-block;
			font-family: $text-aux;
		}
		
		.email, .twitter {
			position: relative;
			padding-top: 0.25em;
			padding-left: 18px;

		}
		
		.email {
			background: transparent url('../i/email-icon.png') left center no-repeat;
			background-size: 15px 10px;
			background-position: 0px 7px;
		}
		
		.twitter {
			background: transparent url('../i/twitter-icon.png') left center no-repeat;
			background-size: 12px 10px;
			background-position: 0px 7px;
		}
	}
	
	.image {
		grid-area: image;
	}
	
	.content {
		grid-area: content;
	}
}

.staff {
	margin-bottom: 1em;
}

.staff h4 {
	margin-left: $space-gutter;
	margin-bottom: 0.5em;
}

.staff .image {
	margin: 0 $space-gutter 0.5em $space-gutter;
	
	img {
		display: block;
		width: calc(100% - 4px);
		height: auto;
		padding: 1px;
		background: black;
		border: 1px solid white;
		box-sizing: content-box;
	}
}

// :events schedule

// :event - acog
body#acog {
	background: $color-background-main url('../i/events/acog_homepage.jpg') center center no-repeat;
	background-size: cover;
	
	#main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 90vh;
		
		div.banner {
			flex: 0 1 auto;
		}
		
		.banner h2 {
			background: transparent;
			text-align: center;
			color: #fff;
			border: none;
		}
		
		.banner p {
			margin: 0;
			padding: 0;
			text-align: center;
		}
	}
}
