---
---

/*

Primary look and layout styles for Reverie Studios website.
Base styles are meant for small smartphones.
Layout-specific changes for different devices are in breakpoints.scss.
Nav menu styles are in nav.scss.

This design makes extensive use of grid layout rules, with some flexbox.

*/

// :fonts

@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700|Oswald:500|Charm');
$text-heading: Oswald, Impact, sans-serif;
$text-main: "Lora", Georgia, serif;
$text-aux: Arial, Verdana, Geneva, sans-serif;
$text-eskhaton: Charm, Palatino, Georgia, sans-serif;

// :colors 

$color-background-main: #38383c;
$color-text-main: #e7e7f4;
$color-text-menu: mix($color-text-main, $color-background-main, 75);
$color-link-main: #fff;
$color-background-heading: #1b1b1f;
$color-background-footer: #191919;
$color-img-border: mix($color-text-main, #000, 80);
$color-menu: rgba(73, 73, 81, 1);

// :sizes
$width-desktop-full: 960px;
$width-desktop-gap: 30px;
$width-double-column: $width-desktop-full / 2 - $width-desktop-gap / 2;

// :basic styling

* {
	margin: 0;
	padding: 0;
	line-height: 1em;
	box-sizing: border-box; // adding borders/padding will not extend boxes
}

body {
	background: $color-background-main;
	background-image: linear-gradient(180deg, mix($color-background-main, black, 35) 0px, $color-background-main 300px, $color-background-main);
	color: $color-text-main;
	font-family: $text-main;
	font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $text-heading;
	text-transform: uppercase;
	margin: 0 0 0.5em 0;
}

h6 {
	font-size: 110%;
}

h5 {
	font-size: 125%;
}

h4 {
	font-size: 140%;
}

h3 {
	font-size: 155%;
}

h2 {
	font-size: 170%;
}

h1 {
	font-size: 185%;
}

p, ol, li {
	margin-bottom: 1em;
	line-height: 1.3em;
}

ol, li {
	margin-left: 1em;
	
	section & {
		margin-left: 1.5em;
	}
}

a {
	color: $color-link-main;
	text-decoration: none;
	border-bottom: 1px solid $color-link-main;
}

a.button {
	display: inline-block;
	border: 1px solid #000;
	border-radius: 4em;
	background: $color-text-main;
	color: $color-background-main;
	font-family: $text-aux;
	line-height: 1em;
	padding: 0.5em 0.75em;
}

a.skip-link {
	&::after {
		display: inline-block;
		content: "_";
		color: transparent;
		height: 100%;
		width: 1em;
		transform: rotate(90deg);
		margin-left: 0.5em;
		background: transparent url('../i/arrow-dusk-right.png') center center no-repeat;
		background-size: contain;
	}
}

img {
	display: block;
	background: #000;
	padding: 1px;
	border: 1px solid $color-img-border;
}

a.hidden {
	  opacity: 0;
}

h1.hidden {
	height: 0px;
	overflow: hidden;
	margin: 0
}

section#videos {
	div.video {
		margin-bottom: 2em;
	}
	
	div.video-wrapper {
		border: 1px solid $color-img-border;
		padding: 1px;
	}
	
	div.video-container {
		position: relative;
		width: 100%;
	}
	
	div.video-container::after {
		display: block;
		padding-top: 56.25%;
		content: " ";
  }
	
	iframe.video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

// :header 

section#masthead {
	
	a {
		display: block;
		border: none;
	}
	
	img {
		border: none;
		background: transparent;
		padding: 0;
		margin: 0;
		width: 100%;
		height: auto;
	}
	
	img.logo-one-line {
		display: none;
	}
}

// :footer
footer {
	
	font-family: $text-aux;
	margin: 2em 0 0 0;
	padding: 2em 0 1em 0;
	background: $color-background-footer;
	
	ul {
		list-style: none;
		display: flex;
		justify-content: center;
		gap: 1em;
		
		li {
			margin: 0;
		}
		
		a.facebook:before {
			background: transparent url('../i/facebook_positive.png') center center no-repeat;
		}
		
		a.discord:before {
			background: transparent url('../i/discord_positive.png') center center no-repeat;
		}
		
		a.email:before {
			background: transparent url('../i/email_positive.png') center center no-repeat;
		}
		
		a.facebook, a.discord, a.email {
			
			display: flex;
			
			&:before {
				display: flex;
				content: " ";
				width: 1em;
				height: 1em;
				margin-right: 0.5em;
				background-size: contain;
			}
		}
	}
	
	p {
		font-size: 80%;
		text-align: center;
	}
}

// :generic page
body.page {
	display: grid;
	grid-template: 
	". nav ."
	". masthead ."
	". main ."
	"footer footer footer";
	grid-template-columns: 1rem 1fr 1rem;
	padding: 2em 0 0 0;
	column-gap: 0;
	
	nav {
		grid-area: nav;
	}
	
	section#masthead {
		grid-area: masthead;
	}
	
	section#main {
		grid-area: main;
		margin-top: 2em;
	}
	
	footer {
		grid-area: footer;
	}
	
	nav {
		text-align: right;
		margin-bottom: 1em;
		
		ul.main {
			text-align: left;
		}
	}
}

// :homepage

body#home {
	
	display: grid;
	grid-template: 
	". nav ."
	". masthead ."
	"main main main"
	"footer footer footer";
	grid-template-columns: 1rem 1fr 1rem;
	column-gap: 0;
	
	// other layout outside of section#main defined by body.page above
	
	section#main {
		display: grid;
		grid-template: 
		"hero hero hero"
		". intro ."
		". events ."
		". about .";
		grid-template-columns: 1rem 1fr 1rem;
		column-gap: 0rem;
	}
	
	section#hero {
		grid-area: hero;
	}
	
	section#intro {
		grid-area: intro;
	}
	
	section#events {
		grid-area: events;
	}
	
	section#about {
		grid-area: about;
	}
	
	div.event-list {
		margin-bottom: 1em;
	}
	
	section#events h2 {
		margin-top: 1em;
	}
	
	section#hero {
		
		margin: 0 0 1em 0;
		
		img {
			width: 100%;
			height: auto;
			padding: 1px 0;
			border-width: 1px 0;
		}
	}
	
	div.event {
		
		border: 1px solid $color-img-border;
		background: #000;
		padding: 1px;
		margin-bottom: 1em;
				
		a {
			position: relative;
			display: block;
			border: none;
			
			&:after {
				position: absolute;
				bottom: 1em;
				right: 0.75em;
				width: 2em;
				height: 2em;
				background: transparent url('/i/arrow-white-right.png') center center no-repeat;
				background-size: contain;
				content: " ";
			}
		}
		
		div.blurb {
			position: absolute;
			top: 0;
			left: 0;
			padding: 1rem;
		}
		
		div.gradient {
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		
		&.seance div.gradient {
			background-image: linear-gradient(90deg, black, transparent);
		}
		
		&.daedalus div.gradient {
			background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.85) 75%);
		}
		
		&.acog div.gradient {
			background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.75), transparent);
		}
		
		&.eskhaton div.gradient {
			background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.75), transparent);
		}
		
		&.hardway div.gradient {
			background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.85), transparent);
		}
		
		&.sanguis div.gradient {
			background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
		}
		
		&.ember div.gradient {
			background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.75), transparent);
		}
		
		&.saturnalia div.gradient {
			background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
		}
		
		h3 {
			font-size: 2em;
		}
		
		&.daedalus, &.hardway {
			
			h3, p {
				color: #000;
			}
			
			div.blurb {
				left: auto;
				right: 0;
			}
			
			a:after {
				background-image: url('../i/arrow-black-right.png');
			}
		}
	} // end div.event
	
	div.event img {
		width: 100%;
		height: auto;
		border: none;
		padding: 0;
		position: relative;
	}
	
	div.more-events {
		text-align: center;
		padding-bottom: 1em;
		
		a {
			color: white;
			background: rgba(255, 255, 255, 0.2);
			border: 1px solid white;
		
			&::after {
				display: inline-block;
				content: "_";
				color: transparent;
				height: 100%;
				width: 1em;
				margin-left: 0.5em;
				background: transparent url('../i/arrow-white-right.png') center center no-repeat;
				background-size: contain;
			}
		}
	}
}

// :lightbox
div#lightbox {
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	background: black;
	background: rgba(0, 0, 0, 0.8);
	z-index: 1000;	
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	div#controls, div.content, div.caption {
		flex: 0 0 auto;
		margin-bottom: 10px;
	}
	
	&.active {
		left: 0;
	}
	
	div.content {
		background: transparent;
		max-height: 75%;
	}
	
	div#controls {
		display: flex;
		justify-content: space-between;
		width: 50%;
		margin: 0 auto 0.5em auto;

		a {
			flex: 0 0 auto;
			position: relative;
			width: 2em;
			height: 2em;
			gap: 1em;
			display: block;
			overflow: hidden;
			border: none;
			text-indent: 100%;
			color: transparent;
			
			&:first-child {
				margin-left: 0;
			}
			
			&:before {
				content: " ";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				
			}
			
			&.close:before {
				background: url('../i/close-white.png') center center no-repeat;
				background-size: contain;
			}
			
			&.next:before {
				background: url('../i/arrow-white-right.png') center center no-repeat;
				background-size: contain;
			}
			
			&.prev:before {
				background: url('../i/arrow-white-left.png') center center no-repeat;
				background-size: contain;
			}
		}
	}
}

// :gallery
div.gallery {
	
	margin: 1em 0 2em 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	
	a, img {
		user-select: none;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	}
	
	div.image img {
		width: 100%;
		height: auto;
	}
}

// :events page

body#schedule {
	
	img {
		width: 100%;
		height: auto;
	}
	
	div.upcoming-events, div.past-events {
		display: grid;
		grid-template-columns: 1fr;
		gap: 0rem;
	}
	
	div.event {
		margin: 0 0 2em 0;
	}
	
	h3 {
		margin-top: 0.5em;
	}
}

// :about-studio page

body#about-studio {
	
	div#principals, div#collaborators {
		
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 0em;
		column-gap: 0em;
		
		div.staff {
			margin-bottom: 1em;
		}
	}
	
	div.contact {
		margin: 1em 0;
		font-size: 100%;
		font-family: $text-aux;
		color: #fff;
	}
	
	section#main a.email, a.twitter, div.pronouns {
		display: flex;
		border: none;
		margin: 0 0 0.5em 0;
		color: inherit;
		
		&:before {
			display: flex;
			content: "_";
			color: transparent;
			width: 1em;
			height: 1em;
			margin-right: 0.5em;
		}
	}
	
	section#main a.email:before {
		background: transparent url('/i/email-icon.png') center center no-repeat;
		background-size: contain;
	}
	
	a.twitter:before {
		background: transparent url('/i/twitter-icon.png') center center no-repeat;
		background-size: contain;
	}
	
	div.pronouns:before {
		background: transparent url('/i/person-icon.png') center center no-repeat;
		background-size: contain;
	}
}

// :about-larp page

body#about-larp {
	
	blockquote {
		
		margin: 0 0 1em 0.5em;
		padding: 0.5em 0 0.5em 1em;
		border-left: 1px solid $color-text-main;
		
		p:last-child {
			margin-bottom: 0;
		}
	}
}

// :EVENT PAGES

//: saturnalia

body#saturnalia {
	
	img {
		width: 100%;
		height: auto;
	}
	
	div.kickstarter a {
		display: block;
		background: #05ce78;
		background: linear-gradient(#03ad64, #05ce78);
		color: #000;
		font-weight: bold;
		font-size: 110%;
		margin: 1em 0 1em 0;
		text-align: center;
		text-transform: uppercase;
		border: 1px solid rgba(255, 255, 255, 0.5);
		line-height: 1em;
	}
}

// :hardway

body#hardway {
	div.hardway-grid img {
		width: 100%;
		margin-bottom: 2em;
	}
}

// :event in-game / out-game format
body#eskhaton, body#acog, body#seance, body#daedalus {
	
	grid-template:
	". nav ."
	". masthead ."
	"main main main"
	"footer footer footer";
	grid-template-columns: 1rem 1fr 1rem;
	
	section#main {
		display: grid;
		grid-template: 
		". in-disclaim ."
		"in in in"
		". out .";
		grid-template-columns: 1rem 1fr 1rem;
		column-gap: 0rem;
		
		section#in-game-disclaimer {
			grid-area: in-disclaim;
		}
		
		section#in-game {
			grid-area: in;
			margin-bottom: 2em;
			display: grid;
			grid-template: ". ingame .";
			grid-template-columns: 1rem 1fr 1rem;
			
			div.inner {
				grid-area: ingame;
			}
		}
		
		section#out-of-game {
			grid-area: out;
		}
	}
}

// :eskhaton 
body#eskhaton {
	
	section#opal, section#cults {
		margin-top: 1em;
	}
	
	section#opal {
		grid-area: opal;
	}
	
	section#cults {
		grid-area: cults;
	}
	
	section#in-game {
		background: #fff;
		background: linear-gradient(180deg, #d3ccba 0%, #f7f0dc 50%);
		color: #000;
		padding: 2em 0;
		
		section#opal::before {
			background: url('../i/events/eskhaton/feather.png') center center no-repeat;
			background-size: contain;
			content: " ";
			width: 70%;
			height: 6rem;
			position: relative;
			display: block;
			margin: 0 auto 1em auto;
		}
		
		section#cults:before {
			background: transparent url('../i/events/eskhaton/eskhaton_sigils_horizontal.png') center center no-repeat;
			background-size: contain;
			content: " ";
			width: 100%;
			height: 6rem;
			position: relative;
			display: block;
			margin: 0 auto 1em 0;
		}
		
		section#salutation, section#signature, section#cults h3 {
			font-family: $text-eskhaton;
			text-transform: none;
			font-weight: normal;
			font-size: 150%;
		}
		
		section#opal {
			
			section#salutation p, section#signature p {
				margin: 0;
			}
			
			section#signature {
				
				margin-left: 50%;
				margin-top: 1em;
				position: relative;
				
				&:before {
					content: "\2014";
					position: absolute;
					left: -1em;
					top: 0;
				}
			}
			
			section#main-text p {
				text-indent: 2em;
				margin-bottom: 0;
			}
		} 
		
		section#cults {
						
			p:first-letter {
				float: left;
				font-size: 350%;
				margin: 0.10em 0.15em 0 0;
				font-family: $text-eskhaton;
				line-height: 1em;
				
				background: #000;
				color: #fff;
				padding: 0.1em 0.2em;
				border: 0.09em solid #ccc;
			}
			
			br.mobile {
				display: none;
			}
		}
		
		section#cults section#mareen p:first-letter {
			
			color: #323b56;
			border-color: #323b56;
			background: #d0e3e8 url('../i/events/eskhaton/mareen_back.jpg') top left no-repeat;
			background-size: cover;
		}
		
		section#cults section#extant p:first-letter {
			
			color: #eaf1e4;
			border-color: #9fa09e;
			background: #d0e3e8 url('../i/events/eskhaton/extant_back.jpg') top left no-repeat;
			background-size: cover;
		}
		
		section#cults section#seekers p:first-letter {
			
			color: #e0e1d4;
			border-color: #333;
			background: #d0e3e8 url('../i/events/eskhaton/seekers_back.jpg') top right no-repeat;
			background-size: cover;
		}
		
		section#cults section#expositors p:first-letter {
			
			color: #b2274c;
			border-color: #c22f57;
			background: #d0e3e8 url('../i/events/eskhaton/expositors_back.jpg') top right no-repeat;
			background-size: cover;
		}
		
		section#cults section#progenus p:first-letter {
			
			color: #81b1e4;
			border-color: #6887a9;
			background: #d0e3e8 url('../i/events/eskhaton/progenus_back.jpg') top right no-repeat;
			background-size: cover;
		}
	}
}

// :event - acog

$color-letter-accent: #ed152e;
$color-letter-text: #472529;
body#acog {
	
	section#in-game {
		background: gray url('../i/events/acog/nuke.jpg') center center no-repeat;
		background-size: cover;
		color: $color-letter-text;
		overflow: hidden;
		
		div.inner {
			position: relative;
			display: flex;
			flex-direction: column;
			margin-top: 10em;
		}
		
		h2, h3, p {
			font-family: "Courier New", "Courier", monospace;
		}
		
		div.letter {
			width: 25em;
			padding: 1em;
			border: 10px solid $color-letter-accent;
			background: #f4f3ef;
			box-shadow: -3px -3px 11px black;
			transform: rotate(10deg);
			justify-self: flex-start;
			
			h2, h3 {
				background: $color-letter-accent;
				color: #fff;
				text-align: center;
				margin: 0;
			}
			
			h3 {
				margin-bottom: 1em;
			}
			
			p {
				font-size: 90%;
			}
			
			strong {
				font-weight: normal;
				border-bottom: 1px solid $color-letter-text;
			}
			
			span {
				color: black;
				background: black;
			}
		}
		
		img.badge {
			width: 30%;
			height: 55%;
			background: transparent;
			border: none;
			margin-top: -6em;
			margin-left: -1em;
			z-index: 10;
			transform: rotate(-8deg);
		}
	}
}

// :event - seance
body#seance {
	
	section#in-game {
		background: rgba(145, 124, 100, 1);
		color: #efe8e0;
		padding: 2em 0;
		
		h2, h3 {
			font-family: $text-main;
			text-transform: none;
			font-weight: normal;
			font-style: italic;
		}

		img.ames_photo {
			width: 10em;
			height: auto;
			float: right;
			margin: 0 0 1em 1em;
			transform: rotate(2.5deg);
			padding: 0;
			border: 0.5em solid #fff;
			border-bottom-width: 2em;
			box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
		}
		
		p.author {
			display: block;
			position: relative;
			margin-left: 33%;
			margin-top: 0.5em;
			
			&:before {
				content: "\2014";
				position: absolute;
				left: -1em;
				top: 0;
			}
		}
	}
}

// :event - daedalus

body#daedalus {
	
	section#in-game {

		padding: 8em 0 2em 0;
		background: black url('../i/events/daedalus/daedalus-splash.jpg') center center no-repeat;
		background-size: cover;
		
		div.inner {
			color: #fff;
		}
		
		h2 {
			font-size: 280%;
			text-align: center;
			margin-bottom: 1em;
		}
		
		p {
			font-size: 120%;
			margin: 0;
		}
	}
}

// :event - haunting

body#haunting {
		
	section#hero {
		
		margin: 0 0 1em 0;

		img {
			width: 100%;
			height: auto;
		}
	}	
}

// :nav
@import 'nav.scss';

// :size breakpoints
@import 'breakpoints.scss'