---
title: Reverie Studios
id: home
---

{% include header.html class = 'page' %}
{% include masthead-standard.html %}
{% include menu.html %}

<section id = "hero">
	<div id = "banner">
		<img src = "i/homepage_hero.jpg" />
		<div class = "blurb">
			<h3>A CoG in the Machine</h3>
			<h4>May 16, 2018</h4>
		</div>
	</div>
</section>

<section id = "intro">
	{% capture intro %}{% include text-intro.md %}{% endcapture %}
	{{intro | markdownify}}
</section>

<section id = "events">
	
	<h2>Events</h2>
	
	<div class = "event-list">
	{% assign events = site.events | sort: 'order' %}
	{% for e in events %}
		<div class = "event {{e.short-name}}">
				<a href = "{{e.url}}">
				<img src = "{{e.thumbnail}}" />
				<div class = "gradient"></div>
				
				<div class = "blurb">
					<h3>{{e.title}}</h3>
					{{e.blurb | markdownify}}
				</div>
			</a>
		</div>	
	{% endfor %}
	</div>
	
	<div class = "more-events">
		<p><a href = "/events/schedule/">Full Event Schedule</a></p>
	</div>
	
</section>

<section id = "about">
		
	{% capture about %}{% include text-about.md %}{% endcapture %}
	{{about | markdownify}}
	
</section>

{% include footer.html %}