<footer>
	
	<ul class="about-links">
		 <li class="facebook">
		   <p><a class = "button facebook" href="https://www.facebook.com/reveriestudiosllc/">Facebook</a></p>
		 </li>
		 <li class="discord">
		   <p><a class = "button discord" href="https://discord.gg/mg7Rq9fA46">Discord</a></p>
		 </li>
		 <li class="email">
		   <p><a class = "button email" href="https://stats.sender.net/forms/bmZOrr/view">Stay Updated</a></p>
		 </li>
	  </ul>
	
	<p>&copy; 2016 &ndash; 2025 Reverie Studios, LLC.</p>
		
</footer>

</body> {% comment %} opened in header.html {% endcomment %}
</html> {% comment %} opened in header.html {% endcomment %}