<footer>
	
	<ul class="about-links">
		 <li class="facebook">
		   <p><a class = "button facebook" href="https://www.facebook.com/reveriestudiosllc/">Facebook</a></p>
		 </li>
		 <li class="discord">
		   <p><a class = "button discord" href="https://discord.gg/mg7Rq9fA46">Discord</a></p>
		 </li>
		 <li class="email">
		   <p><a class = "button email" href="mailto:contact@reverie.studio?subject=Mailing%20List%20Inquiry&body=Please%20add%20me%20to%20the%20Reverie%20Studios%20mailing%20list!">Stay Updated</a></p>
		 </li>
	  </ul>
	
	<p>&copy; 2016 &ndash; {{ 'now' | date: "%Y" }} Reverie Studios, LLC.</p>
	
	<p><a href = "mailto:{{site.email}}">{{site.email}}</a></p>
	
</footer>

</body> {% comment %} opened in header.html {% endcomment %}
</html> {% comment %} opened in header.html {% endcomment %}