<nav>
	
	<a href = "#" class = "menu-toggle button">menu</a>				
	
	<ul class = "main closed">
		<li class = "menu-toggle"><a href class = "button" = "#">close</a></li>
		<li class = "home {% if page.id == "home" %} active{% endif %}"><a href = "/">Home</a></li>
		<li class = "store"><a href = "#">Store</a>
			<ul class = "store-sub">
				<li class = "store-shopify"><a href = "https://reverie-studios-larp.myshopify.com/">Event Tickets</a></li>
				<li class = "store-zazzle"><a href = "https://www.zazzle.com/store/reveriestudios/products">Merch &amp; Swag</a></li>
			</ul>
		</li>
		<li>
		<a href = "/about/larp">About</a>
			<ul class = "about">
				<li {% if page.id == "about-larp" %}class = "active"{% endif %}><a href = "/about/larp/">Larp Gaming</a></li>
				<li {% if page.id == "dei" %}class = "active"{% endif %}><a href = "/about/dei/">Diversity, Equity, &amp; Inclusion</a></li>
				<li {% if page.id == "conduct" %}class = "active"{% endif %}><a href = "/about/conduct/">Code of Conduct</a></li>
			</ul>
		</li>
		<li class = "character-creator"><a href = "https://creator.reverie.studio/">Character Creator</a></li>
		<li {% if page.id == "contact" %}class = "active"{% endif %}>
			<a href = "/contact/">Contact</a>
			<ul class = "contact-sub">
				<li><a class = "facebook" href = "https://www.facebook.com/reveriestudiosllc/">Facebook Group</a></li>
				<li><a class = "discord" href = "https://discord.gg/mg7Rq9fA46">Discord</a></li>
				<li><a class = "email" href = "mailto:contact@reverie.studio?subject=Mailing%20List%20Inquiry&body=Please%20add%20me%20to%20the%20Reverie%20Studios%20mailing%20list!">Mailing List</a></li>
			</ul>
		</li>
	</ul>
	
</nav>