/*

Styles that define how the site design changes as the device window size increases.
These rules are almost entirely changes to basic font sizes, grid layout, and margins.
The one exception is {body#home section#main section#events}, which has some minor decorative changes throughout.

*/

@media screen and (min-width: 320px) {
	
	body {
		font-size: 12px;
	}
	
	body#neonvoid84 {
		.button {
			font-size: 110% !important;
		}
	}
}

@media screen and (min-width: 375px) {
	
	body#home div.event-list p {
		font-size: 120%;
	}
	
	body#acog section#main section#in-game div.inner {
		padding-left: 5em;
		
		img.badge {
			width: 50%;
			margin-left: -6em;
		}
	}
}

@media screen and (min-width: 414px) {
	
	body {
		font-size: 15px;
	}
	
	body#acog section#main section#in-game div.inner {
		padding-left: 2em;
		
		img.badge {
			width: 45%;
			margin-left: -1em;
		}
	}
}

@media screen and (min-width: 768px) {
	
	body {
		font-size: 17px;
	}
	
	.callout {
		padding: 2rem;
	}
	
	section#videos {
		
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 1rem;
	}
	
	section#masthead {
		img.logo-one-line {
			display: block;
		}
		
		img.logo-two-line {
			display: none;
		}
	}
	
	body#home nav, body.page nav {
		align-self: center;
		margin-bottom: 0;
	}
	
	body.page {
		grid-template: 
		". masthead nav ."
		". main main ."
		"footer footer footer footer";
		grid-template-columns: 2rem 5fr 1fr 2rem;
	}
	
	body#home, body#seance, body#eskhaton, body#acog, body#daedalus {
		grid-template:
		". masthead nav ."
		"main main main main"
		"footer footer footer footer";
		grid-template-columns: 2rem 5fr 1fr 2rem;
		
		section#main {
			grid-template-columns: 2rem 1fr 2rem;
			
			section#in-game {
				grid-template-columns: 2rem 1fr 2rem;
			}
		}
	}
	
	body#home {
			
		section#main {
			display: grid;
			grid-template: 
			"hero hero hero"
			". intro ."
			". community ."
			"events events events"
			". about .";
			grid-template-columns: 2rem 1fr 2rem;
		}

		section#events h2 {
			margin-left: 2rem;
		}
		
		div.event-list {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 0;
			border-top: 1px solid $color-text-main;
			
			div.event {
				margin-bottom: 0;
				padding: 0;
				border: 0;
				
				div.blurb {
					padding: 1rem 2rem;
				}
				
				h3 {
					font-size: 180%;
					margin-bottom: 0.25em;
				}
				
				p {
					font-size: 85%;
				}
			}
		}
	}
	
	body#schedule {
		div.upcoming-events, div.past-events {
			display: grid;
		}
	}
	
	body#acog section#main section#in-game {
		div.inner {
			padding-left: 0;
			flex-direction: row-reverse;
			align-items: flex-end;
			
			img.badge {
				width: 30%;
				height: 55%;
				margin: 0;
			}
		}
	}

}

@media screen and (min-width: 900px) {
	
	body {
		font-size: 20px;
	}
	
	body#schedule {
		div.upcoming-events, div.past-events {
			grid-template-columns: 1fr 1fr;
			column-gap: 1rem;
		}
	}
	
	div.gallery {
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	body#saturnalia {
		
		img.hero {
			grid-area: hero;
		}
		
		p.partnership {
			grid-area: partnership;
		}
		
		div.link-out {
			grid-area: link;
		}
		
		p.story {
			grid-area: story;
		}
		
		p.logistics {
			grid-area: logistics;
		}
	}
	
	body#hardway {
		
		div.hardway-grid {
			display: grid;
			grid-template: 
			"store store"
			"img text"
			"details details";
			grid-template-columns: 2fr 1fr;
			column-gap: 1rem;
		}
		
		img.hero {
			grid-area: img;
			width: 100%;
			height: auto;
		}
		
		div.hardway-text {
			grid-area: text;
		}
		
		div#store {
			grid-area: store;
		}
		
		div.hardway-details {
			grid-area: details;
		}
	}
	
	body#eskhaton {
		section#in-game div.inner {
			display: grid;
			grid-template: ". opal . cults .";
			grid-template-columns: 1fr fit-content(470px) 1em fit-content(670px) 1fr;
			column-gap: 0;
		}
		
		section#cults {
			font-size: 80%;
		}
	}
}

@media screen and (min-width: 1025px) {
	
	body {
		font-size: 22px;
	}
	
	body.page {
		grid-template: 
		". masthead nav ."
		". main main ."
		"footer footer footer footer";
		grid-template-columns: 1fr fit-content($width-minor-column) fit-content($width-major-column) 1fr;
		column-gap: $width-desktop-gap;
		padding-top: 4em;
	}
	
	section#masthead {
				
		img.logo-two-line {
			display: block;
		}
		
		img.logo-one-line {
			display: none;
		}
	}
	
	body#home {
		
		grid-template: 
		". masthead nav ."
		". main main ."
		"footer footer footer footer";
		grid-template-columns: 1fr fit-content($width-minor-column) fit-content($width-major-column) 1fr;
		column-gap: $width-desktop-gap;
		
		#masthead {
			margin-left: 0;
		}
		
		nav {
			margin-right: 0;
		}
		
		section#main {
			grid-template:
			"hero"
			"intro"
			"community"
			"events"
			"about";
		}
		
		section#hero {
			img {
				border-width: 1px;
				padding: 1px;
			}
		}
		
		section#community {
			
		}
		
		section#events {
			h2 {
				margin-left: 0;
				border: none;
			}
			
			div.event-list {
				gap: 1em;	
				border: none;
			}
			
			div.event {
				border: 1px solid $color-img-border;
				background: #000;
				padding: 1px;
			}
			
			div.blurb {
				padding: 1em;
			}
			
			div.blurb p {
				font-size: 80%;
			}
		}
	}
	
	body#schedule {
		div.event p {
			font-size: 80%;
		}
	}
	
	body#about-studio {
		div#principals, div#collaborators {
			grid-template-columns: 1fr 1fr;
			column-gap: 2em;
			
			div.contact, p {
				font-size: 80%;
			}
		}
	}
	
	body#hardway {
		div.hardway-grid {
			grid-template-columns: 1.5fr 1fr;
			column-gap: 1em;
		}
	}
	
	body#eskhaton, body#acog, body#seance, body#daedalus {
		grid-template: 
		". masthead nav ."
		"main main main main"
		"footer footer footer footer";
		grid-template-columns: 1fr fit-content($width-minor-column) $width-major-column 1fr;
		column-gap: $width-desktop-gap;
		
		section#main {
			display: grid;
			grid-template: 
			". in-disclaim ."
			"in in in"
			". out .";
			grid-template-columns: 1fr fit-content($width-desktop-full) 1fr;
			column-gap: 0rem;
			
			section#in-game {
				grid-template-columns: 1fr $width-desktop-full 1fr;
			}
		}
	}
	
	body#eskhaton {
		section#in-game {
			font-size: 80%;
		}
	}
	
	body#daedalus {
		section#main section#in-game {
			padding-bottom: 4em;
		}
	}
}