// Media queries built off of main styles.

// Break point for iPhone SE?
// First break point: > 500px

$width-ipad: 600px;

// pretty much only the iPhone SE is this small
@media screen and (max-width: 320px) {
	body {
		font-size: 18px;
	}
}

@media screen and (min-width: 500px) {
	body {  
		font-size: 25px;
	}
	
	body#acog #in-game .letter {
		width: 300px;
	}
	
	br.mobile {
		display: none;
	}
	
	body#eskhaton {
		#cults section {
			margin-bottom: 1em;
		}
	}
}

@media screen and (min-width: 600px) {
	body {
		font-size: 25px;
	}
	
	#masthead h1 {
		height: 16.4vw;
	}
	
	#masthead h1 a {
		width: 100%;
		background: transparent url('../i/logo-white-single-line.png') center center no-repeat;
		background-size: contain;
	}
	
	section#main ul {
		width: auto;
		
		li {
			margin: 0 0 0.5em 1em;
		}
	}
	
	nav {
		padding-bottom: 0;
		
		ul {
			width: auto !important;
		}
	}
	
	#seance, #acog, #daedalus, #eskhaton {
		nav {
			padding-top: 0;
		}
	}
	
	.event-list {
		display: flex;
		flex-wrap: wrap;
		
		.event {
			flex: 0 0 50%;
		}
		
		.event a:after {
			width: 4vw;
			height: 4vw;
		}
		
		.event .blurb {
			width: 100%;
			font-size: 75%;
		}
		
		.event img {
			width: 100%;
		}
		
		.event.seance .gradient {
			background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
		}
		
		.event.daedalus .gradient {
			background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.85) 50%);
		}
		
		.event.acog .gradient {
			background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.75), transparent);
		}
	}
	
	body#schedule {
		
		h2 {
			margin-bottom: 1em;
		}
		
		.upcoming-events, .past-events {
			
			
			.event {
				display: flex;
				flex-direction: row-reverse;
				margin-left: 20px;
				margin-right: 20px;
				
				h3 {
					margin-top: -0.25em;
				}
				
				.image, .content {
					flex: 0 0 50%;
				}
				
				.image img {
					padding: 1px;
					background: black;
					border: 1px solid mix(white, $color-background-main, 50);
					box-sizing: border-box;
				}
				
				.content {
					font-size: 90%;
					padding-right: 20px;
					box-sizing: border-box;
				}
			}
		}
	}
	
	#about-studio {
		
		#principals .staff {
		
			margin: 0 $space-gutter;
			
			h3, h4 {
				margin-left: 0;
			}
			
			.image {
				margin: 0;
			}
			
			.content p {
				padding: 0;
			}
			
			.contact {
				margin: 0 0 1em 0;
			}
		}
	}
	
	body#daedalus {
		
		.banner p {
			width: 80%;
			margin: 0 auto;
		}

	}
	
	#lightbox #controls a {
		width: 5vw;
		height: 5vw;
	}
}

@media screen and (min-width: 768px) {
	
	#main h3, #main h4, #main h5 {
		width: $width-ipad;
		margin-left: $space-gutter;
		margin-right: auto;
		padding-right: 0;
	}
	
	#main p, #main ol, #main ul {
		width: $width-ipad;
	}
	
	section#main blockquote {
		width: $width-ipad;
		margin-right: auto;
		padding: 0.5em 0 0.5em 1em;
		box-sizing: border-box;
		
		p {
			width: auto;
			margin-left: 0;
			margin-right: 0;
		}
	}
	
	#main .staff p {
		width: 600px;
		margin-left: 0;
		margin-right: 0;
	}
	
	div#collaborators {
		width: 600px;

		
		h3 {
			padding-left: 4vw;
		}
		
		p {
			margin-left: 0;
			margin-right: 0;
		}
	}
	
	#home {
		#banner, section > p, section > h3, section > h4 {
			width: $width-ipad;
			margin-left: auto;
			margin-right: auto;
			padding: 0;
		}
		
		.event-list .event .blurb {
			font-size: 95%;
			
			h3 {
				margin-top: 0.5em;
			}
		}
	}
	
	#schedule {
		.upcoming-events, .past-events {
			p, h3, h4 {
				width: 100%;
				padding: 0;
				margin-left: 0;
			}
			
			.event {
				padding-left: 20px;
				box-sizing: border-box;
			}
			

		}
	}
	
	#main div.past-runs h3 {
		margin-left: $space-gutter;
	}
	
	#acog #in-game .letter {
		h2, h3, p {
			width: auto;
		}
	}
	
	body#acog #in-game .letter {
		margin-top: 0;
		margin-bottom: 300px;
	}
	
	body#acog #in-game .badge {
		right: 380px;
		width: 200px;
		top: 50px;
		bottom: inherit;
		left: auto;
	}
	
	body#daedalus {
		h3 {
			padding-left: 0;
		}
	}
	
	body#eskhaton {
		#in-game {
			font-size: 25px;
			display: grid;
			grid-template: 
			"opal cults";
			grid-template-columns: 40% 60%;
			
			p {
				width: 100%;
			}
			
			#opal {
				grid-area: opal;
				font-size: 120%;
			}
			
			#cults {
				grid-area: cults;
			}
			
			
			
			#opal::before, #cults::before {
				height: 20vw;
			}
			
		}
	}
	
	body#sanguis {
		#main p {
			width: 600px;
			margin: 0 auto 1em auto;
			padding: 0;
		}
		
		div#masthead {
			padding: 0;
		}
	}
}