// Media queries built off of main styles.

// Break point for iPhone SE?
// First break point: > 500px

$width-ipad: 600px;

// pretty much only the iPhone SE is this small
@media screen and (max-width: 320px) {
	body {
		font-size: 18px;
	}
}

@media screen and (min-width: 500px) {
	body {
		font-size: 25px;
	}
	
	body#acog #in-game .letter {
		width: 300px;
	}
}

@media screen and (min-width: 600px) {
	body {
		font-size: 25px;
	}
	
	#masthead h1 {
		height: 16.4vw;
	}
	
	#masthead h1 a {
		width: 100%;
		background: transparent url('../i/logo-white-single-line.png') center center no-repeat;
		background-size: contain;
	}
	
	nav {
		padding-bottom: 0;
	}
	
	#seance, #acog {
		nav {
			padding-top: 0;
		}
	}
	
	.event-list {
		display: flex;
		flex-wrap: wrap;
		
		.event {
			flex: 0 0 50%;
		}
		
		.event a:after {
			width: 4vw;
			height: 4vw;
		}
		
		.event .blurb {
			width: 100%;
			font-size: 75%;
		}
		
		.event img {
			width: 100%;
		}
		
		.event.seance .gradient {
			background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
		}
		
		.event.daedalus .gradient {
			background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5));
		}
		
		.event.acog .gradient {
			background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.75), transparent);
		}
	}
	
	body#schedule {
		
		h2 {
			margin-bottom: 1em;
		}
		
		.upcoming-events, .past-events {
			
			
			.event {
				display: flex;
				flex-direction: row-reverse;
				margin-left: 20px;
				margin-right: 20px;
				
				h3 {
					margin-top: -0.25em;
				}
				
				.image, .content {
					flex: 0 0 50%;
				}
				
				.image img {
					padding: 1px;
					background: black;
					border: 1px solid mix(white, $color-background-main, 50);
					box-sizing: border-box;
				}
				
				.content {
					font-size: 90%;
					padding-right: 20px;
					box-sizing: border-box;
				}
			}
		}
	}
	
	#about-studio {
		
		#principals .staff {
			grid-template: 
			"name-title name-title"
			"image content"
			"contact content";
			
			grid-template-rows: auto 250px 1fr;
			grid-template-columns: 250px 1fr;
			grid-column-gap: $space-gutter / 2;			
			margin: 0 $space-gutter;
			
			h3, h4 {
				margin-left: 0;
			}
			
			.image {
				margin: 0;
			}
			
			.content p {
				padding: 0;
			}
			
			.contact {
				margin-top: $space-gutter / 2;
			}
		}
	}
	
	body#daedalus {
		.banner {
			width: 50%;
		}
	}
	
	#lightbox #controls a {
		width: 5vw;
		height: 5vw;
	}
}

@media screen and (min-width: 768px) {
	
	#main h3 {
		width: $width-ipad;
		margin-left: auto;
		margin-right: auto;
	}
	
	#main p, #main ol, #main ul {
		width: $width-ipad;
		margin-left: auto;
		margin-right: auto;
	}
	
	section#main blockquote {
		width: $width-ipad;
		margin-left: auto;
		margin-right: auto;
		padding: 0.5em 0 0.5em 1em;
		box-sizing: border-box;
		
		p {
			width: auto;
			margin-left: 0;
			margin-right: 0;
		}
	}
	
	#main .staff p {
		width: auto;
		margin-left: 0;
		margin-right: 0;
	}
	
	div#collaborators {
		width: 600px;
		margin-left: auto;
		margin-right: auto;
		
		h3 {
			margin: 0;
		}
		
		p {
			margin-left: 0;
			margin-right: 0;
			padding-left: 0;
			padding-right: 0;
		}
	}
	
	#home {
		#banner, section > p, section > h3 {
			width: $width-ipad;
			margin-left: auto;
			margin-right: auto;
		}
		
		.event-list .event .blurb {
			font-size: 95%;
			
			h3 {
				margin-top: 0.5em;
			}
		}
	}
	
	#schedule {
		.upcoming-events, .past-events {
			p, h3, h4 {
				width: 100%;
				padding: 0;
				margin-left: 0;
			}
			
			.event {
				padding-left: 20px;
				box-sizing: border-box;
			}
			

		}
	}
	
	#main div.past-runs h3 {
		margin-left: $space-gutter;
	}
	
	#acog #in-game .letter {
		h2, h3, p {
			width: auto;
		}
	}
	
	body#acog #in-game .letter {
		margin-top: 0;
		margin-bottom: 300px;
	}
	
	body#acog #in-game .badge {
		right: 380px;
		width: 200px;
		top: 50px;
		bottom: inherit;
		left: auto;
	}
}