// Media queries built off of main styles.

// Break point for iPhone SE?
// First break point: > 500px

$width-desktop: 960px;
$grid-gutter: 20px;
$color-menu: rgba(73, 73, 81, 1);

@media screen and (min-width: 1025px) {
	
	body {
		font-size: 40px;
	}
	
	nav {
		font-size: 24px;
	}
	
	h2 {
		background: transparent;
		text-align: left;
		padding: 0;
		border: none;
	}
	
	body#schedule, body#about-studio, body#about-larp, body#contact, body#not-found {
		display: grid;
		grid-template:
		". masthead nav ."
		". main main ."
		"footer footer footer footer";
		
		grid-template-columns: 1fr 470px 470px 1fr;
		grid-template-rows: fit-content(200px) auto 1fr;
		grid-column-gap: $grid-gutter;
	}
	
	body#home {
		display: grid;
		grid-template: 
		". masthead nav ."
		". hero hero ."
		". intro intro ."
		". events events ."
		"about about about about"
		"footer footer footer footer";
		
		grid-template-columns: 1fr 470px 470px 1fr;
		grid-column-gap: $grid-gutter;
		
		#banner {
			width: auto;
		}
		
		#banner .blurb {
			left: $grid-gutter;
			bottom: $grid-gutter;
		}
		
		section > p, section > h4 {
			width: auto;
			padding-left: 0;
			padding-right: 0;
		}
		
		section#events {
			font-size: 80%;
			
			h2 {
				margin: 0;
			}
			
			.event {
				margin-right: $grid-gutter;
				margin-bottom: $grid-gutter;
				flex: 0 0 470px;
				padding: 1px;
				box-sizing: border-box;
				border: 1px solid mix($color-text-main, $color-background-main, 75);
				background: #000;
			}
			
			.event:nth-child(even) {
				margin-right: 0;
			}
			
			.event-list .event a:after {
				width: 40px;
				height: 40px;
				bottom: $grid-gutter;
				right: $grid-gutter;
			}
			
			.event .blurb {
				h3 {
					margin: $grid-gutter $grid-gutter 0 $grid-gutter;
				}
				
				p {
					margin: 0 $grid-gutter 0 $grid-gutter;
					padding: 0
				}
			}
		}
		
		section#about {
			h2, h3,  & > p {
				width: $width-desktop;
				margin-left: auto;
				margin-right: auto;
			}
			
			h2 {
				margin-bottom: 0;
			}
		}
		
		.more-events {
			background: transparent;
		}
	}
	
	body.page {
		
		padding: $grid-gutter * 3 0 0 0;
		
		#masthead {
			width: auto;
			padding: 0;
			margin: 0;
		}
		
		#masthead h1 a {
			background-image: url('../i/logo-flat-white-1600.png');
		}
	}
	
	body.page nav {
		
		padding: 0;
		margin: 0;
		align-self: center;
		
		a.menu-toggle, ul.main li.menu-toggle {
			display: none;
		}
		
		ul.main {
			position: relative;
			height: auto;
			right: auto;
			padding: 0;
			display: flex;
			background: transparent;
			border: none;
			
			&.closed {
				right: auto;
				left: 0;
				width: 100%;
			}
			
			li {
				flex: 0 0 auto;
				margin-right: $grid-gutter;
				position: relative;
				padding: 0.5em 0.5em;
				
				&.home {
					margin-left: $grid-gutter;
				}
			}
		}
		
		ul.main li > ul {
			display: none;
			border: none;
			
			li {
				margin: 0;
			}
			
			li:hover {
				background: rgba(0, 0, 0, 0.3);
			}
		}
		
		ul.main li:hover {
			background: $color-menu;
		}
		
		ul.main li:hover > ul {
			display: block;
			position: absolute;
			top: 100%;
			left: 0;
			margin: 0;
			padding: 0;
			width: 200px;
			background: $color-menu;
			font-size: 80%;
			
			&:hover {
				
				display: block;
			}
		}
	}
	
	body.event {
		nav ul.main {
			padding-left: $grid-gutter * 2;
			padding-right: $grid-gutter * 2;
			
			li.menu-toggle a {
				margin-right: 0;
			}
		}
	}
	
	body#schedule {
		
		.upcoming-events, .past-events {
			
			font-size: 80%;
			
			.event {
				padding-left: 0;
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
	
	.page #main p {
		margin: 0;
		padding: 0;
		margin-bottom: 1em;
		width: auto;
	}
	
	.page #main blockquote {
		margin: 0;
		width: 100%;
		margin-bottom: 1em;
	}
	
	.page #main h2 {
		margin-top: 0;
		margin-bottom: 0.25em;
	}
	
	#about-studio {
		
		#principals {
			display: flex;
			font-size: 60%;
		}
		
		#principals .staff {
			margin: 0;
			grid-template:
			"name-title"
			"image"
			"contact"
			"content";
			
			grid-template-columns: 300px;
			grid-template-rows: auto auto 70px 1fr; 
			grid-gap: 0;
						
			flex: 0 0 300px;
			margin-right: $grid-gutter;
			
			h3 {
				width: 100%;
			}
			
			.name-title {
				align-self: flex-end;
			}
			
			.contact {
				align-self: flex-start;
				margin-top: 1em;
			}
		}
		
		#collaborators {
			width: 100%;
			margin: 0;
		}
	}
	
	body#seance, body#acog, body#daedalus {
		
		grid-template: 
		". in-game-disclaimer nav ."
		"main main main main"
		"footer footer footer footer";
		
		grid-template-columns: 1fr 884px 76px 1fr;
		
		#in-game-disclaimer, #out-of-game-disclaimer {
			font-size: 60%;
			padding: 1em 0;
		}
		
		nav {
			padding-right: 0;
			display: block;
			align-self: center;
		}
		
		#in-game {
			p {
				width: $width-desktop;
			}
		}
		
		#out-of-game {
			width: $width-desktop;
			margin: 0 auto;
			
			p, ul, ol, h2, h3 {
				width: 100%;
				padding: 0;
			}
		}
				
		#out-of-game ul, #out-of-game ol {
			padding-left: 1em;
			
			li {
				margin-bottom: 0.5em;
			}
		} 
		
		#in-game img {
			width: 300px;
		}
		
		#main {
			.past-runs, .gallery {
				margin: 0;
				margin-bottom: 1em;
				
				h3, h4 {
					margin: 0;
				}
			}
			
			.gallery {
				.image {
					flex: 0 0 ($width-desktop - ($grid-gutter * 2) - 12) / 3;
					margin-right: $grid-gutter;
					margin-bottom: $grid-gutter;
					padding: 1px;
					background: #000;
					border: 1px solid #fff;
				}
				
				.image:nth-child(3n) {
					margin-right: 0;
				}
			}
		}
	}
	
	#lightbox #controls a {
		width: 30px;
		height: 30px;
	}
	
	body#acog {
		#in-game .letter {
			width: 500px;
			margin-bottom: -10px;
			margin-right: 0;
		}
		
		#in-game .badge {
			right: 600px;
			margin-top: 200px;
		}
	}
	
	body#daedalus {
		
		nav {
			display: flex;
			flex-direction: row-reverse;
			
			& > a.menu-toggle {
				margin: 0 $grid-gutter 0 0;
			}
		}
		
		
		.banner h2 {
			padding-top: 300px;
		}
		
		h3 {
			margin-top: 1em !important;
		}
		
		h4 {
			padding-left: 0;
			margin-bottom: 0.5em !important;
		}
	}
}