---
title: D&aelig;dalvs
layout: page
short-name: daedalus
blurb: "The innovators at the Trondant Foundation invite you to an exclusive unboxing. Experience the cosmic disruption of realizing nobody’s in charge."
order: 7
thumbnail: i/events/daedalus/daedalus_homepage.jpg
runs:
 - event: daedalus
   image: /i/events/daedalus/daedalus_homepage.jpg
   date: '2018-03-31'
   display-date: March 31, 2018
   title: D&aelig;dalvs I
   gallery:
   - image: 15
     full: /i/events/daedalus/one/Daedulus-15_full.jpg
     thumb: /i/events/daedalus/one/Daedulus-15_th.jpg
   - image: 29
     full: /i/events/daedalus/one/Daedulus-29_full.jpg
     thumb: /i/events/daedalus/one/Daedulus-29_th.jpg
   - image: 47
     full: /i/events/daedalus/one/Daedulus-47_full.jpg
     thumb: /i/events/daedalus/one/Daedulus-47_th.jpg
   - image: 52
     full: /i/events/daedalus/one/Daedulus-52_full.jpg
     thumb: /i/events/daedalus/one/Daedulus-52_th.jpg
   - image: 90
     full: /i/events/daedalus/one/Daedulus-90_full.jpg
     thumb: /i/events/daedalus/one/Daedulus-90_th.jpg
   - image: 97
     full: /i/events/daedalus/one/Daedulus-97_full.jpg
     thumb: /i/events/daedalus/one/Daedulus-97_th.jpg
   - image: 112
     full: /i/events/daedalus/one/Daedulus-112_full.jpg
     thumb: /i/events/daedalus/one/Daedulus-112_th.jpg
   - image: 177
     full: /i/events/daedalus/one/Daedulus-177_full.jpg
     thumb: /i/events/daedalus/one/Daedulus-177_th.jpg
   - image: 188
     full: /i/events/daedalus/one/Daedulus-188_full.jpg
     thumb: /i/events/daedalus/one/Daedulus-188_th.jpg
   - image: 272
     full: /i/events/daedalus/one/Daedulus-272_full.jpg
     thumb: /i/events/daedalus/one/Daedulus-272_th.jpg
   - image: 304
     full: /i/events/daedalus/one/Daedulus-304_full.jpg
     thumb: /i/events/daedalus/one/Daedulus-304_th.jpg
   - image: 306
     full: /i/events/daedalus/one/Daedulus-306_full.jpg
     thumb: /i/events/daedalus/one/Daedulus-306_th.jpg
     
---

{% assign now = 'now' | date: "%Y-%m-%d" %}
{% assign future_events = page.runs | where_exp: "r", "r.date >= now" %}
{% assign past_events = page.runs | where_exp: "r", "r.date < now" | reverse %}
{% comment %}"{% endcomment %}

<section id = "in-game">
   
   <div class = "inner">
   
      <h2 class = "title">D&aelig;dalvs</h2>
      
      <p class = "blurb">Our first run as a producer of new Nordic style larps happened on March 31st and we couldn’t be more proud of how D&AElig;DALVS went. As a first-time event, D&AElig;DALVS was an experiment in our working with new larp writers, and Max and Jeff will both be people to watch. Please keep an eye out for future runs of this excellent larp about &lsquo;colliding truths&rsquo;.</p>
   
   </div>
   
</section>

<section id = "out-of-game">
	{% if past_events.size > 0 %}

	<div class = "past-runs">
		
		{% for e in past_events %}
		
			<h3>{{e.title}}</h3>
			<h4>{{e.display-date}}</h4>
			
			{% include gallery.html e = e idx = forloop.index0 %}
		
		{% endfor %}
		
		{% include lightbox.html runs = past_events %}
		
	</div>
	
{% endif %}
</section>


	
