---
title: "Fracture"
short-name: fracture
layout: page
thumbnail: /i/events/fracture/thumbnail.jpg	
blurb: "A summer camp becomes a crucible for death and rebirth at the hands of mysterious cultists."
order: 1
runs:
 - event: fracture
   image: /i/events/fracture/thumbnail.jpg	
   date: '2024-08-30'
   display-date: 'August 30th - September 1st 2024'
   title: "Fracture"
   blurb: "A summer camp becomes a crucible for death and rebirth at the hands of mysterious cultists."
   gallery:
   - image: name
     thumb: /i/events/fracture/gallery/Fracture_LARP_4496_th.jpeg
     full: /i/events/fracture/gallery/Fracture_LARP_4496.jpeg
   - image: name
     thumb: /i/events/fracture/gallery/Fracture_LARP_3510_th.jpeg
     full: /i/events/fracture/gallery/Fracture_LARP_3510.jpeg
   - image: name
     thumb: /i/events/fracture/gallery/FRACTURE-714_th.jpeg
     full: /i/events/fracture/gallery/FRACTURE-714.jpeg
   - image: name
     thumb: /i/events/fracture/gallery/Fracture_LARP_0797-Enhanced-NR_th.jpeg
     full: /i/events/fracture/gallery/Fracture_LARP_0797-Enhanced-NR.jpeg
   - image: name
     thumb: /i/events/fracture/gallery/Fracture_LARP_0889-Enhanced-NR_th.jpeg
     full: /i/events/fracture/gallery/Fracture_LARP_0889-Enhanced-NR.jpeg
   - image: name
     thumb: /i/events/fracture/gallery/Fracture_LARP_0916-Enhanced-NR_th.jpeg
     full: /i/events/fracture/gallery/Fracture_LARP_0916-Enhanced-NR.jpeg
   - image: name
     thumb: /i/events/fracture/gallery/Fracture_LARP_1424_th.jpeg
     full: /i/events/fracture/gallery/Fracture_LARP_1424.jpeg
   - image: name
     thumb: /i/events/fracture/gallery/Fracture_LARP_2394_th.jpeg
     full: /i/events/fracture/gallery/Fracture_LARP_2394.jpeg
   - image: name
     thumb: /i/events/fracture/gallery/Fracture_LARP_2202_th.jpeg
     full: /i/events/fracture/gallery/Fracture_LARP_2202.jpeg
   - image: name
     thumb: /i/events/fracture/gallery/Fracture_LARP_2543_th.jpeg
     full: /i/events/fracture/gallery/Fracture_LARP_2543.jpeg
   - image: name
     thumb: /i/events/fracture/gallery/Fracture_LARP_2551-Enhanced-NR_th.jpeg
     full: /i/events/fracture/gallery/Fracture_LARP_2551-Enhanced-NR.jpeg
   - image: name
     thumb: /i/events/fracture/gallery/Fracture_LARP_2633_th.jpeg
     full: /i/events/fracture/gallery/Fracture_LARP_2633.jpeg
   - image: name
     thumb: /i/events/fracture/gallery/Fracture_LARP_4198_th.jpeg
     full: /i/events/fracture/gallery/Fracture_LARP_4198.jpeg
   - image: name
     thumb: /i/events/fracture/gallery/Fracture_LARP_4417-Enhanced-NR_th.jpeg
     full: /i/events/fracture/gallery/Fracture_LARP_4417-Enhanced-NR.jpeg
   - image: name
     thumb: /i/events/fracture/gallery/Fracture_LARP_4426_th.jpeg
     full: /i/events/fracture/gallery/Fracture_LARP_4426.jpeg
---

{% assign now = 'now' | date: "%Y-%m-%d" %}
{% assign future_events = page.runs | where_exp: "r", "r.date >= now" %}
{% assign past_events = page.runs | where_exp: "r", "r.date < now" | reverse %}
{% comment %}"{% endcomment %}

<div class = "fracture-grid">
   
   <div class = "fracture-hero">
      <img src = "/i/events/fracture/homepage.jpg" />
   </div>
   
   <div class = "fracture-body">
      <h3>Fracture</h3>
      
      <p>Camp Whispering Pines, a remote summer camp nestled deep in the woods, is known for its idyllic setting, and fun-filled activities. As the summer begins, campers, staff, and local residents eagerly gather for another summer brimming with relaxation, friendship, and memories.</p>
      
      <p>Unbeknownst to some, the ancient pine forest harbors a dark secret. Deep within the surrounding woodland lies a site of immense power, sacred to a secretive cult, known only as the Extant. These cultists, shrouded in mystery, worship an entity attempting to manifest in this world. The cult, driven by their fanatical beliefs and twisted rituals, believe that the alignment of the stars favors the progress of their insidious agenda. With sadistic glee, they endeavor to turn the idyllic camp into a living nightmare. Armed with forbidden knowledge and esoteric powers, the cultists embark on a campaign of terror, seeking to convert the unsuspecting campers and counselors into followers of their faith.</p>
      
      <p>As night falls, the boundary between summer fun and the darkness in the woods begins to blur. Shadows lengthen, and campers start disappearing one by one. Panic ensues as rumors circulate about unknown assailants lurking in the darkness, hunting their prey. Body count rising, alliances form among the remaining campers and counselors, all with the scant hope of survival. With the cultists able to seamlessly move through the grounds unnoticed, many campers reach their breaking points, pushed to the limits of their sanity and endurance as they struggle to discern friend from foe amidst the unseen threat.</p>
      
      <p>Only a scant few will escape the clutches of the fanatical cult, forever scarred by the atrocities and hallucinations of what they have witnessed. They emerge from the ordeal as changed individuals, burdened by the weight of their experiences and the knowledge that some secrets are better left buried.</p>
      
      <p>Fracture is a harrowing tale of occultism, dread, and breaking points; blending the unnerving suspense of cosmic horror with the excitement and camaraderie of summer camp massacre cinema. It explores the depths of the human psyche when faced with unimaginable trauma, serving as a cautionary reminder that even in the brightest of summers, darkness can loom in the shadows, ready to engulf and challenge our resilience.</p>
   </div>
   
   {% if past_events.size > 0 %}
   
      <div class = "past-runs">
               
         {% for e in past_events %}
         
            <h4>{{e.display-date}}</h4>
            
            {% include gallery.html e = e idx = forloop.index0 %}
         
         {% endfor %}
         
         {% include lightbox.html runs = past_events %}
         
      </div>
      
   {% endif %}

</div>