---
title: "The Haunting of Gray Manor"
short-name: haunting
layout: page
thumbnail: /i/events/haunting/thumbnail.jpg
blurb: "Explore the world of the dead, and perhaps cross into it."
order: 3
runs:
- event: haunting
  image: /i/events/haunting/oct_21_thumbnail.jpg
  date: '2021-10-09'
  display-date: 'October 8&ndash;10, 2021'
  title: "The Haunting of Gray Manor"
  blurb: "Explore the world of the dead, and perhaps cross into it."
  gallery:
  - image: haunt01
    thumb: /i/events/haunting/gallery/haunt01_th.jpeg
    full: /i/events/haunting/gallery/haunt01.jpeg
  - image: haunt02
    thumb: /i/events/haunting/gallery/haunt02_th.jpeg
    full: /i/events/haunting/gallery/haunt02.jpeg
  - image: haunt02
    thumb: /i/events/haunting/gallery/haunt03_th.jpeg
    full: /i/events/haunting/gallery/haunt03.jpeg
  - image: haunt02
    thumb: /i/events/haunting/gallery/haunt04_th.jpeg
    full: /i/events/haunting/gallery/haunt04.jpeg
  - image: haunt02
    thumb: /i/events/haunting/gallery/haunt05_th.jpeg
    full: /i/events/haunting/gallery/haunt05.jpeg
  - image: haunt02
    thumb: /i/events/haunting/gallery/haunt06_th.jpeg
    full: /i/events/haunting/gallery/haunt06.jpeg
  - image: haunt02
    thumb: /i/events/haunting/gallery/haunt07_th.jpeg
    full: /i/events/haunting/gallery/haunt07.jpeg
  - image: haunt02
    thumb: /i/events/haunting/gallery/haunt08_th.jpeg
    full: /i/events/haunting/gallery/haunt08.jpeg
  - image: haunt02
    thumb: /i/events/haunting/gallery/haunt09_th.jpeg
    full: /i/events/haunting/gallery/haunt09.jpeg
  - image: haunt02
    thumb: /i/events/haunting/gallery/haunt10_th.jpeg
    full: /i/events/haunting/gallery/haunt10.jpeg
  - image: haunt02
    thumb: /i/events/haunting/gallery/haunt11_th.jpeg
    full: /i/events/haunting/gallery/haunt11.jpeg
  - image: haunt02
    thumb: /i/events/haunting/gallery/haunt12_th.jpeg
    full: /i/events/haunting/gallery/haunt12.jpeg
---
	
<section id = "hero">
	<img class = "hero" src = "/i/events/haunting/homepage_graphic.jpg" />
</section>

<h2>The Haunting of Gray Manor</h2>

<p><em>The Haunting of Gray Manor</em> is a larp for 50-70 participants about a haunted building. The previous run of <em>Gray Manor</em> was held at the Cambridge Masonic Lodge, utilizing the full space of this historic 111 year-old building. <em>Gray Manor</em> is an intense larp set in the present day, focusing on the supernatural. The event utilizes sound, light, and other techniques to amplify mood and intensity of roleplay, as well as provide an easy suspension of disbelief.</p>

<section id = videos>
	
	<div class = "video">
		
		<h3>Trailer</h3>
	
		<div class = "video-container">
			<iframe class = "video" width="560" height="315" src="https://www.youtube.com/embed/xIKw06e5CY4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	
	</div>
	
	<div class = "video">
		
		<h3>Immersive Soundscape</h3>
	
		<div class = "video-container">
			<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/s458b2qSjgk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	
	</div>
	
</section>

<h3>Synopsis</h3>

<p><em>The Haunting of Gray Manor</em> centers on a mysterious medium who has invited people from a diverse range of backgrounds to come and join a ritual to connect to the land of the dead, and to remove the haunting of the building. The characters who participate will be diverse and fall into a spectrum of believers in the supernatural, skeptics, or those unsure. The larp assumes that the supernatural is real and includes mechanics that intensify the experience, giving opportunities for participants to explore a world where ghosts are real, and the building is haunted. The larp focuses on mysterious deaths that occur as participants are marked by a black spot mechanic and choose whether this means they will die or not, crossing over and becoming ghosts that haunt the building and adding to the growing sense of dread among the remaining.</p>

<p>Participants will have several tasks before them. The primary goals of the event are to explore the manor, interact with the other guests and determine associations, join seances or perform other minor ritual activity to contact the dead, and be marked (or not) and choose to die and join the ranks of the ghosts haunting the building. As the dead grow to outnumber the living, more and more of the Manor becomes inaccessible to the dwindling survivors, with its mood increasingly informed by the temperaments of the spirits.</p>
	
{% for e in page.runs %}

	<h3>{{e.display-date}}</h3>
			
	{% include gallery.html e = e idx = forloop.index0 %}

{% endfor %}

{% include lightbox.html runs = page.runs %}