---
title: Seance Sessions
short-name: seance
blurb: "A renowned host, a collection of skeptics and believers, and some unanticipated additions. It's going to be a night to remember."
order: 1
thumbnail: i/events/seance_homepage.jpg
layout: event-seance
runs:
 - event: seance
   date: '2017-02-18'
   display-date: February 18, 2017
   title: Seance Sessions I
   gallery:
   - image: LARP01-2
     full: /i/events/seance/one/LARP01-2_full.jpg
     thumb: /i/events/seance/one/LARP01-2_th.jpg
   - image: LARP01-57
     full: /i/events/seance/one/LARP01-57_full.jpg
     thumb: /i/events/seance/one/LARP01-57_th.jpg
   - image: LARP01-67
     full: /i/events/seance/one/LARP01-67_full.jpg
     thumb: /i/events/seance/one/LARP01-67_th.jpg
   - image: LARP01-157
     full: /i/events/seance/one/LARP01-157_full.jpg
     thumb: /i/events/seance/one/LARP01-157_th.jpg
   - image: LARP01-166
     full: /i/events/seance/one/LARP01-166_full.jpg
     thumb: /i/events/seance/one/LARP01-166_th.jpg
   - image: LARP01-171
     full: /i/events/seance/one/LARP01-171_full.jpg
     thumb: /i/events/seance/one/LARP01-171_th.jpg
   - image: LARP01-178
     full: /i/events/seance/one/LARP01-178_full.jpg
     thumb: /i/events/seance/one/LARP01-178_th.jpg
   - image: LARP01-188
     full: /i/events/seance/one/LARP01-188_full.jpg
     thumb: /i/events/seance/one/LARP01-188_th.jpg
   - image: LARP01-220
     full: /i/events/seance/one/LARP01-220_full.jpg
     thumb: /i/events/seance/one/LARP01-220_th.jpg
   - image: LARP01-245
     full: /i/events/seance/one/LARP01-245_full.jpg
     thumb: /i/events/seance/one/LARP01-245_th.jpg
   - image: RGFL
     full: /i/events/seance/one/RGFL_full.jpg
     thumb: /i/events/seance/one/RGFL_th.jpg
   - image: LARP01-309
     full: /i/events/seance/one/LARP01-309_full.jpg
     thumb: /i/events/seance/one/LARP01-309_th.jpg
 - event: seance
   date: '2017-09-30'
   display-date: September 30, 2017
   title: Seance Sessions II
   gallery:
   - image: PRLARP-74
     full: /i/events/seance/two/PRLARP-74_full.jpg
     thumb: /i/events/seance/two/PRLARP-74_th.jpg
   - image: PRLARP-200
     full: /i/events/seance/two/PRLARP-200_full.jpg
     thumb: /i/events/seance/two/PRLARP-200_th.jpg
   - image: PRLARP-101
     full: /i/events/seance/two/PRLARP-101_full.jpg
     thumb: /i/events/seance/two/PRLARP-101_th.jpg
   - image: PRLARP-189
     full: /i/events/seance/two/PRLARP-189_full.jpg
     thumb: /i/events/seance/two/PRLARP-189_th.jpg
   - image: PRLARP-190
     full: /i/events/seance/two/PRLARP-190_full.jpg
     thumb: /i/events/seance/two/PRLARP-190_th.jpg
   
   - image: PRLARP-203
     full: /i/events/seance/two/PRLARP-203_full.jpg
     thumb: /i/events/seance/two/PRLARP-203_th.jpg
   - image: PRLARP-278
     full: /i/events/seance/two/PRLARP-278_full.jpg
     thumb: /i/events/seance/two/PRLARP-278_th.jpg
   - image: PRLARP-292
     full: /i/events/seance/two/PRLARP-292_full.jpg
     thumb: /i/events/seance/two/PRLARP-292_th.jpg
   - image: GW
     full: /i/events/seance/two/GW_full.jpg
     thumb: /i/events/seance/two/GW_th.jpg
   
---

{% assign now = 'now' | date: "%Y-%m-%d" %}
{% assign future_events = page.runs | where_exp: "r", "r.date >= now" %}
{% assign past_events = page.runs | where_exp: "r", "r.date < now" | reverse %}
{% comment %}"{% endcomment %}

<section id = "in-game">
	
	<h2>The Door and Its Key</h2>
	
	<p class = "intro"><img src = "/i/events/seance/ames_bio.jpg" class = "ames_photo" />This website serves to inform you of the accomplishments of a medium of the like which has not been seen in a millennia: the esteemed <strong>Walter Ames</strong>. While we recognize that claims to authenticity are not new, and the skepticism associated with communicating with spirits is strong, the myths of the world are not without their sources. It is a matter of finding the right key to unlock that door, and untold many have sought it without success. What defines the parlor fare from the likes of Walter Ames is the rigidness and discipline of research that Walter utilizes in his pursuit of the unknown. While we would not claim to be scientific, we’ll claim to be methodological.</p>

	<p class = "guests">Walter Ames has had a number of notable guests at his Seances that range from dignitaries of state to eminent minds of our age. Always Walter’s method is to invite those to come that should. The mystique and prestige of this is essential, and preserves an element of the unknown, which is an ingredient that cannot be left out.
</p>

<h3>Testimonials</h3>

<p><span class = "quote">&ldquo;I was absolutely skeptical of what this experience would be like, and whether Mr. Ames was a charlatan, a fraud, a run of the mill trickster. What I discovered is that I have to concede there are things I don’t know, that there might be a kernel of truth to the longstanding interest in the occult. <strong>Mr. Ames is the real thing.</strong>&rdquo;</span> <span class = "author">Dr. Cynthia Redham, Professor of Brain and Cognitive Sciences, author of <em>The Brain is a Muscle</em></span></p>

</section>

<section id = "out-of-game">
	
	<div id = "out-of-game-disclaimer">
		<p>The following is practical &ldquo;out-of-game&rdquo; information describing a typical run of <em>Seance Sessions</em>.</p>
	</div>
	
	<h3>Synopsis</h3>
	
	<p><em>Seance Sessions</em> is an interactive theater or 'larp' event premised around the concept of participants portraying people invited by a mysterious Host to an evening promising an encounter with the unknown. This Host is reputed to be the real deal: a psychic who grants exclusive sessions with spirits from the other side. The participants of this event will portray characters that have received an invite for one reason or another. These characters are fully fleshed out with motivations, connections and a background that gives a participant enough to engage with the story.</p>
	
	<h3>Event Size</h3>
	
	<p>The event is designed for up to 15 participants taking place over the course of one evening. The total event run-time, including workshops, is around 7-8 hours. The event starts at around 3 PM on a Saturday and has a hard start time of 4 PM for workshops, which are mandatory. There is a break for dinner and costuming change-in, following by an introduction. The event run time after takes place over the course of 4-5 hours with refreshments and snacks available.</p>

<p>The ticket price includes the entirety of the experience above, excepting dinner (several dinner options available nearby) which should be budgeted by participants. The snacks and refreshments are part of the ticket price. The event location is at the Cambridge Masonic Lodge in Cambridge, Massachusetts.</p>

	<h3>Character Creation</h3>
	
	<p><em>Seance Sessions</em> is an immersive theater event in the style of a 'Nordic larp', in which participants portray characters that are attending a seance with a medium that has a reputation for legitimacy. During the sign-up portion of the event, a pre-event survey is sent out that will ask some questions about what kind of experience participants are looking to have. The story team at Reverie Studios will then either write or pair participants to characters that will contain a few basic things:</p>

	<ul>
		<li>A name</li>
		<li>A list of descriptive traits to paint a picture of the personality of the character</li>
		<li>A paragraph summary of the character</li>
	</ul>

	<p>After this process, if the character that has been provided is acceptable, the story team will continue to write the character or calibrate for a participant's play experience. The full character will have the following:</p>
	
	<ul>
		<li>A full background and history</li>
		<li>A list of questions for participants to ask themselves about the character to build it further in their mind</li>
		<li>A list of suggestions for play experience</li>
		<li>A list of relationships to other characters to give easy hooks for interaction</li>
	</ul>

<p>Before a game, participants are encouraged to think about their desired play experience and to further tweak as needed so that when they arrive, they are ready for the event.</p>

<p>At the event, an introduction and a series of workshops will be conducted. These workshops are intended to orient the participants and give them a chance to know the other participants and game staff, as well as learn how to engage in meaningful, safe and fun play with one another.</p>

<h3>Content &amp; Themes</h3>

<p>The content design of <em>Seance Sessions</em> is intended to evoke feelings of dread, encountering the unknown, and regret or remorse. It has dark themes, but the design team has intentionally <em>not</em> steered towards concepts involving sexuality or extreme violence. We recommend this larp for players aged 21 or over, and due to the nature of this event and the venue will not allow anyone younger than 21 at this time.</p>

<p>The larp is played in an immersive style. Actions are portrayed in a consensual fashion and intended to look real, but in a safe way for all. There are workshops before the event that will teach consent, safety, and calibration. There will be alcohol available in the form of wine, and participants deemed too intoxicated to engage with the event will be removed from the event. Other options for refreshment will be available.</p>

<p>This is an inclusive event and all genders, sexualities, and bodies are invited to participate and enjoy themselves.</p>

<p>Physical contact at a minimum comfort level for participation is for you to be able to hold hands with other participants, or a light touch on the shoulder from the front. The consent, safety and calibration techniques will allow for participants to determine whether they are comfortable with other forms of consented physical contact such as portraying a fight. You are always in full control of your own body and of your own story, and you will always have choice in what your participate in, with the ability to step out of any situation and leave a play area to take a break as needed.</p>

<p>Engagement in this kind of experience can be very emotionally and mentally powerful. Immersion is part of the experience. As you are collaborating with others to create a story, this means that there is no central narrative present, meaning the stories can range in theme and may create discomfort. If the possibility of any of this may make you uncomfortable, you will probably also be uncomfortable at the event. If you choose to participate, please consider that need for self-care both during the event and after.</p>

<h3>Access &amp; Ability</h3>

<p>As this is an immersion based experience, one's body represents their body in the event itself.</p>

<p>The building unfortunately is not accessible on the floors that we have available for use except by stairs. During the event, all of the action will occur on a specific floor and there is not expectation to need to access different floors with the stairs. Access to bathrooms will be available at all times.
This event significantly uses audio and noises ranging in volume from low to startlingly loud. Please take this into account if you are hard of hearing, or if you would be startled by loud noises.</p>

<p>The events of the game will play with light as a key aspect of creating the immersive atmosphere. Changes in light colors, brightness and types of light will be a feature. At all times, light should at least be present in a way to make out surroundings and event space, but the quality of that light will change. If you have restricted vision or light mobility issues and would like to participate, please let us know in advance and how we can assist you in prepping for this event.</p>

{% if past_events.size > 0 %}

	<h2>Past Runs</h2>
	
	{% for e in past_events %}
	
		<h3>{{e.title}}</h3>
		<h4>{{e.display-date}}</h4>
		
		{% include gallery.html e = e idx = forloop.index0 %}
	
	{% endfor %}
	
	{% include lightbox.html runs = past_events %}
	
{% endif %}


</section>