---
title: Event Schedule | Reverie Studios
id: schedule
layout: page
---

{% assign future_events = site.emptyArray %}
{% assign past_events = site.emptyArray %}
{% assign now = 'now' | date: '%Y-%m-%d' %}

{% for e in site.events %}
	{% assign e_past = e.runs | where_exp: "run", "run.date < now" %}
	{% assign e_future = e.runs | where_exp: "run", "run.date >= now" %}
	{% assign past_events = past_events | concat: e_past %}
	{% assign future_events = future_events | concat: e_future %}
{% endfor %}

{% assign past_events = past_events | sort: 'date' | reverse %}
{% assign future_events = future_events | sort: 'date' %}

{% if future_events.size > 0 %}

<h2>Upcoming Events</h2>

<div class = "upcoming-events">
{% for f in future_events %}

<div class = "event">
	
	{% assign event_uri = "/events/" | append: f.event %}
	
	<div class = "image">
		<a href = "{{event_uri}}"><img src = "{{f.image}}" /></a>
	</div>

	<div class = "content">
		<h3>{{f.title}}</h3>
		<h4>{{f.display-date}}</h4>
		
		{% assign event_link = " [Learn more &#8594;](" | append: event_uri | append: ")" %}
		{% assign blurb = f.blurb | append: event_link | markdownify  %}
		{{blurb}}
			
	</div>
</div>

{% endfor %}
</div>

{% endif %}
	
<h2>Past Events</h2>

<div class = "past-events">
{% for p in past_events %}
<div class = "event">
	
	{% assign event_uri = "/events/" | append: p.event %}

	<div class = "image">
		<a href = "{{event_uri}}"><img src = "{{p.image}}" /></a>
	</div>

	<div class = "content">
		<h3>{{p.title}}</h3>
		<h4>{{p.display-date}}</h4>
	
		{% assign event_link = " [Learn more &#8594;](" | append: event_uri | append: ")" %}
		{% assign blurb = p.blurb | append: event_link | markdownify  %}
		{{blurb}}
	</div>
</div>

{% endfor %}
</div>