---
---

{% include header.html class = "event" %}

<section id = "main">
	
	<div class = "banner">
		
		{% include menu.html %}

		
		<h2>D&aelig;dalvs</h2>
		<p>Our first run as a producer of new Nordic style larps happened on March 31st and we couldn’t be more proud of how DÆDALVS went. As a first-time event, DÆDALVS was an experiment in our working with new larp writers, and Max and Jeff will both be people to watch. Please keep an eye out for future runs of this excellent larp about ‘colliding truths’.</p>
	</div>
		
	{{content}}
</section>

{% include footer.html %}