---
title: Event Schedule | Reverie Studios
id: schedule
layout: page
---

{% assign future_events = site.emptyArray %}
{% assign past_events = site.emptyArray %}
{% assign now = 'now' | date: '%Y-%m-%d' %}

{% for e in site.events %}
	{% assign e_past = e.runs | where_exp: "run", "run.date < now" %}
	{% assign e_future = e.runs | where_exp: "run", "run.date >= now" %}
	{% assign past_events = past_events | concat: e_past %}
	{% assign future_events = future_events | concat: e_future %}
{% endfor %}

{% assign past_events = past_events | sort: 'date' | reverse %}
{% assign future_events = future_events | sort: 'date' %}

{% if future_events.size > 0 %}

<h2>Upcoming Events</h2>

{% for f in future_events %}

<div class = "event">

	<h3>{{f.title}}</h3>
	<h4>{{f.display-date}}</h4>

	{{f.blurb | markdownify}}


	<p><a href = "/events/{{f.event}}">Learn more about this event.</a></p>
</div>

{% endfor %}

{% endif %}
	
<h2>Past Events</h2>

{% for p in past_events %}

<div class = "event">

	<h3>{{p.title}}</h3>
	<h4>{{p.display-date}}</h4>

	{{p.blurb | markdownify}}


	<p><a href = "/events/{{p.event}}">Learn more about this event.</a></p>
</div>

{% endfor %}